In [ ]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
#data = pd.read_csv("file1.csv", error_bad_lines=False)
# loop over the list of csv files
# for f in csv_files:
#     if(f.shape[1] >

#get rid of rows with unnamed, get rid of empty columns, get rid of rows that are empty

df_append = pd.DataFrame()
#append all files together
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    #drops all empty columns
    df_temp = df_temp.dropna(how = 'any', axis = 0)
    df_temp = df_temp[df_temp.columns.drop(list(df_temp.filter(regex='Unnamed')))]
    df_temp.reset_index(drop=True, inplace=True)
    print(df_temp)
# un comment the below
    df_append=df_append.join(df_temp, lsuffix="_left", rsuffix="_right", how='outer')
#     df_append = df_append.join(df_temp, how='outer')

#df_append
        #limits number of columns to 10 or more
#     if(df_temp.shape[0]>10):
#         df_append = df_append.append(df_temp, ignore_index=True)
# df_append

# df_concat = pd.concat([pd.read_csv(f,error_bad_lines=False) for f in csv_files ], ignore_index=True)
# df_concat


# for f in csv_files:
      
#     # read the csv file
#     df = pd.read_csv(f,error_bad_lines=False)
      
#     # print the location and filename
#     print('Location:', f)
#     print('File Name:', f.split("\\")[-1])
      
#     # print the content
#     print('Content:')
#     display(df)
#     print()

In [1]:
import pandas as pd
import os
import glob

path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
print(len(csv_files))

52

In [ ]:
#deletes all files with less than or equal to 10 rows and less than
#or equal to 5 columns
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    if(len(df_temp.axes[0]) <= 10 or (len(df_temp.axes[1]) <= 5) ):
        os.remove(file)
#267 to 131

In [2]:
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
    print(file)

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)

/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/MEXICO%20TRAFFIC%202010.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CANADA%20PORT%20RANKINGS%202008.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20REGION%20CONTAINER%20TRAFFIC%20PORT%20RANKING%202016_T3.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20Region%20Container%20Traffic%20Port%20Ranking%202013.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CANADA%20PORT%20RANKING%202011.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CANADA%20WATERBORNE%20TRADE%201983%20%2D%202010.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20REGION%20PORT%20CONTAINER%20TRAFFIC%20PROFILE%202014.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202013%20PORT%20RANKING%20BY%20CARGO%20VALUE.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%202009.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CENTRAL%5FSOUTH%5FAMERICA%5FCONTAINER%5FPORT%5FTRAFFIC%5FPROFILE%5F2010.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Central%20and%20South%20America%20Container%20Port%20Traffic%20Region%202013.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202010%20RANKING%20OF%20U%2ES%2E%20CUSTOMS%20DISTRICTS%20BY%20TRADE%20VOLUME.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CRUISE%20TRAFFIC%20NORTH%20AMERICA%202015-2017%20REVISED.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%202009.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/BRAZILIAN%5FWATERBORNE%5FFOREIGN%5FTRADE%5F2010%5Fby%5FTRADE%5FROUTE.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CANADA%20PORT%20RANKINGS%202010.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20PORT%20CONTAINER%20TRAFFIC%20PROFILE%202015.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20Region%20Port%20Container%20Traffic%20Profile%202013.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20REGION%20CONTAINER%20TRAFFIC%20PORT%20RANKING%202012.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/US%20LATIN%20SEATRADE%20VOLUMES.pdf_3.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/US%20export%2Dfactsheet%2Djanuary2011%2D01%2D13%2D2011.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Central%20and%20South%20America%20Container%20Port%20Traffic%20Profile%202013.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%20S%20%20WATERBORNE%20TRADE%202014%20TOP%20TRADING%20PARTNERS.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/US%20LATIN%20SEATRADE%20VOLUMES.pdf_4.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20REGION%20CONTAINER%20TRAFFIC%20PORT%20RANKING%202014.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%20S%20%20WATERBORNE%20TRADE%202014%20TOP%20TRADING%20PARTNERS.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/PORTSOFCANADA2007.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%20S%20%20Waterborne%20Trade%20With%20the%20Caribbean%202013%2D2009.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Brazil%20Ports%20Cargo%20Trends%202002%2D2011.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Brazilian%20Seaborne%20Trade%202013%20Top%20Cargos.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/US%20LATIN%20SEATRADE%20VALUES.pdf_3.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%20S%20%20Waterborne%20Trade%20With%20the%20Caribbean%202013%2D2009.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Rex%20Table%20ONE.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CONTAINER%20PORT%20RANKING%202015%20CENTRAL%20AND%20SOUTH%20AMERICA.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/US%20LATIN%20SEATRADE%20VALUES.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%2020081.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%202012.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20Container%20Port%20Ranking%202017.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%202012.pdf_3.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%2020081.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/WORLD%20PORT%20RANKINGS%202012.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20CONTAINER%20PORT%20RANKING%202015%20revised.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Central%20and%20South%20America%20Container%20Port%20Traffic%202013%20Ranking.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/BRAZIL%20PORTS%202012%20%20RANKED%20BY%20%20CARGO%20TYPE.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202010%20RANKING%20OF%20U%2ES%2E%20CUSTOMS%20DISTRICTS%20BY%20TRADE%20VALUE.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%20S%20%20WATERBORNE%20FOREIGN%20TRADE%202011%20TONS.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CANADAWATERBORNETRADE.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/USWaterborneTradeGreat%20Lakes%20-%20Coastal%20-1970-2008.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/NAFTA%20REGION%20PORT%20CONTAINER%20TRAFFIC%20PROFILE%202016_T2.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Brazilian%20Seaborne%20Foreign%20Trade%202011%20TOP%20CARGOS.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Brazil%20Ports%202013%20Ranked%20by%20Cargo%20Volume.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CENTRAL%20AND%20SOUTH%20AMERICA%20CONTAINER%20PORT%20TRAFFIC%202009%2EC.pdf_1.csv

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_3213/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)

In [3]:
import os
import numpy as np

myimages = [] #list of image filenames
dirFiles = os.listdir('.') #list of directory files
dirFiles.sort() #good initial sort but doesnt sort numerically very well
sorted(dirFiles) #sort numerically in ascending order

for files in dirFiles: #filter out all non jpgs
    print(files)
    #if '.jpg' in files:
        #myimages.append(files)
# print len(myimages)
# print myimages

.DS_Store
.ipynb_checkpoints
BRAZIL%20PORTS%202012%20%20RANKED%20BY%20%20CARGO%20TYPE.pdf_1.csv
BRAZILIAN%5FWATERBORNE%5FFOREIGN%5FTRADE%5F2010%5Fby%5FTRADE%5FROUTE.pdf_1.csv
Brazil%20Ports%202013%20Ranked%20by%20Cargo%20Volume.pdf_1.csv
Brazil%20Ports%20Cargo%20Trends%202002%2D2011.pdf_1.csv
Brazilian%20Seaborne%20Foreign%20Trade%202011%20TOP%20CARGOS.pdf_1.csv
Brazilian%20Seaborne%20Trade%202013%20Top%20Cargos.pdf_1.csv
CANADA%20PORT%20RANKING%202011.pdf_1.csv
CANADA%20PORT%20RANKINGS%202008.pdf_1.csv
CANADA%20PORT%20RANKINGS%202010.pdf_1.csv
CANADA%20WATERBORNE%20TRADE%201983%20%2D%202010.pdf_1.csv
CANADAWATERBORNETRADE.pdf_1.csv
CENTRAL%20AND%20SOUTH%20AMERICA%20CONTAINER%20PORT%20TRAFFIC%202009%2EC.pdf_1.csv
CENTRAL%5FSOUTH%5FAMERICA%5FCONTAINER%5FPORT%5FTRAFFIC%5FPROFILE%5F2010.pdf_1.csv
CONTAINER%20PORT%20RANKING%202015%20CENTRAL%20AND%20SOUTH%20AMERICA.pdf_1.csv
CRUISE%20TRAFFIC%20NORTH%20AMERICA%202015-2017%20REVISED.pdf_1.csv
Central%20and%20South%20America%20Container%20Port%20Traffic%202013%20Ranking.pdf_1.csv
Central%20and%20South%20America%20Container%20Port%20Traffic%20Profile%202013.pdf_1.csv
Central%20and%20South%20America%20Container%20Port%20Traffic%20Region%202013.pdf_1.csv
DataPrepPort_aappa.ipynb
MEXICO%20TRAFFIC%202010.pdf_1.csv
NAFTA%20CONTAINER%20PORT%20RANKING%202015%20revised.pdf_1.csv
NAFTA%20Container%20Port%20Ranking%202017.pdf_1.csv
NAFTA%20PORT%20CONTAINER%20TRAFFIC%20PROFILE%202015.pdf_1.csv
NAFTA%20REGION%20CONTAINER%20TRAFFIC%20PORT%20RANKING%202012.pdf_1.csv
NAFTA%20REGION%20CONTAINER%20TRAFFIC%20PORT%20RANKING%202014.pdf_1.csv
NAFTA%20REGION%20CONTAINER%20TRAFFIC%20PORT%20RANKING%202016_T3.pdf_1.csv
NAFTA%20REGION%20PORT%20CONTAINER%20TRAFFIC%20PROFILE%202014.pdf_1.csv
NAFTA%20REGION%20PORT%20CONTAINER%20TRAFFIC%20PROFILE%202016_T2.pdf_1.csv
NAFTA%20Region%20Container%20Traffic%20Port%20Ranking%202013.pdf_1.csv
NAFTA%20Region%20Port%20Container%20Traffic%20Profile%202013.pdf_1.csv
PORTSOFCANADA2007.pdf_1.csv
Rex%20Table%20ONE.pdf_2.csv
U%20S%20%20WATERBORNE%20FOREIGN%20TRADE%202011%20TONS.pdf_1.csv
U%20S%20%20WATERBORNE%20TRADE%202014%20TOP%20TRADING%20PARTNERS.pdf_1.csv
U%20S%20%20WATERBORNE%20TRADE%202014%20TOP%20TRADING%20PARTNERS.pdf_2.csv
U%20S%20%20Waterborne%20Trade%20With%20the%20Caribbean%202013%2D2009.pdf_1.csv
U%20S%20%20Waterborne%20Trade%20With%20the%20Caribbean%202013%2D2009.pdf_2.csv
U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202010%20RANKING%20OF%20U%2ES%2E%20CUSTOMS%20DISTRICTS%20BY%20TRADE%20VALUE.pdf_1.csv
U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202010%20RANKING%20OF%20U%2ES%2E%20CUSTOMS%20DISTRICTS%20BY%20TRADE%20VOLUME.pdf_1.csv
U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202013%20PORT%20RANKING%20BY%20CARGO%20VALUE.pdf_1.csv
US%20LATIN%20SEATRADE%20VALUES.pdf_2.csv
US%20LATIN%20SEATRADE%20VALUES.pdf_3.csv
US%20LATIN%20SEATRADE%20VOLUMES.pdf_3.csv
US%20LATIN%20SEATRADE%20VOLUMES.pdf_4.csv
US%20export%2Dfactsheet%2Djanuary2011%2D01%2D13%2D2011.pdf_1.csv
USWaterborneTradeGreat%20Lakes%20-%20Coastal%20-1970-2008.pdf_1.csv
WORLD%20PORT%20RANKINGS%2020081.pdf_1.csv
WORLD%20PORT%20RANKINGS%2020081.pdf_2.csv
WORLD%20PORT%20RANKINGS%202009.pdf_1.csv
WORLD%20PORT%20RANKINGS%202009.pdf_2.csv
WORLD%20PORT%20RANKINGS%202012.pdf_1.csv
WORLD%20PORT%20RANKINGS%202012.pdf_2.csv
WORLD%20PORT%20RANKINGS%202012.pdf_3.csv
complete_tables
joint_files

In [27]:
for file in csv_files:
    bool = False
    df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
    print(file)
    for col in df_temp.columns:
        if( ("1" or "2" or "3" or"4" or"5" or "6" or "7"  or "8" or "9" or"0") in  col):
            bool = True
    
    if(bool):
    #print(df_temp)
    
#     input_string = input('Enter elements of a list separated by space ')
#     print("\n")
#     user_list = input_string.split()
#     # print list
#     print('list: ', user_list)

#     # convert each item to int type
#     for i in range(len(user_list)):
#         # convert each item to int type
#         user_list[i] = int(user_list[i])
    
        df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
    #print(os.path.basename(os.path.normpath(file)))
        file_name = os.path.basename(os.path.normpath(file))
        df_temp.columns = df_temp.columns.map(' : '.join)
#         df_temp = df_temp.reset_index()
#         df_temp.columns = list(df_temp.columns)
        df_temp.columns = df_temp.columns.str.replace('level', '')
        df_temp.columns = df_temp.columns.str.replace('Unnamed :', '')
        df_temp.columns = df_temp.columns.str.replace('Unnamed', '')
        for col in df_temp.columns:
            if( "201" in  col == False):
                df_temp.columns = df_temp.columns.str.replace('1', '')
                df_temp.columns = df_temp.columns.str.replace('0', '')
                df_temp.columns = df_temp.columns.str.replace('2', '')
                df_temp.columns = df_temp.columns.str.replace('3', '')
                df_temp.columns = df_temp.columns.str.replace('4', '')
                df_temp.columns = df_temp.columns.str.replace('5', '')
                df_temp.columns = df_temp.columns.str.replace('6', '')
                df_temp.columns = df_temp.columns.str.replace('7', '')
                df_temp.columns = df_temp.columns.str.replace('8', '')
                df_temp.columns = df_temp.columns.str.replace('9', '')
                df_temp.columns = df_temp.columns.str.replace(',,', '')
                df_temp.columns = df_temp.columns.str.replace('.', '')
                df_temp.columns = df_temp.columns.str.replace(',', '') 
                df_temp.columns = df_temp.columns.str.replace(':', '') 
                df_temp.columns = df_temp.columns.str.replace('_', '') 
        print(df_temp)

    #print(df_temp.iloc[0])
    #df_temp.columns = df_temp.iloc[0]+df_temp.iloc[1]+df_temp.iloc[2]   # set the columns to the values in the first row
    #df_temp = df_temp.iloc[1:]          # reassign df to all rows but the first
    #print(df_temp)
    #df_temp.to_csv(file_name)

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)

/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/MEXICO%20TRAFFIC%202010.pdf_1.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16

               : : 2__1 : : 2__2 : : 2__3 : Petroleum  \
0                                       Bulk Minerals
1                                           Breakbulk
2                                       Containerized
3                                           Agribulks
4                          Non-Petroleum Liquid Bulks
5                                               TOTAL
6                                                 NaN
7                                      Container TEUs
8                                       Ship Arrivals
9                                   Cruise Passengers
10                           Auto Exports and Imports
11                                    (a) Preliminary
12  Source: SCT, Coordinación General de Puertos y...

     : : 3__1 : 2010 (a) : : 3__3 : 137,792,696  \
0                                    64,236,447
1                                    18,707,343
2                                    29,777,388
3                                    10,923,699
4                                    10,577,479
5                                   272,015,052
6                                           NaN
7                                     3,704,765
8                                        15,139
9                                     6,663,297
10                                      871,510
11                                          NaN
12                                          NaN

     : : 4__1 : 2009 : : 4__3 : 127,287,194  \
0                                54,530,571
1                                15,972,680
2                                23,588,616
3                                11,631,790
4                                 8,912,299
5                               241,923,150
6                                       NaN
7                                 2,884,487
8                                    17,921
9                                 5,425,267
10                                  532,857
11                                      NaN
12                                      NaN

   Ports of Mexico : COMMERCIAL TRAFFIC 2002 - 2010 : 2008 2007 2006 : CARGO, Metric tons : 136,614,323 151,534,908 164,587,077  \
0                    64,660,975 59,702,049 62,831,063
1                    20,301,452 20,009,526 20,806,337
2                    25,765,230 22,940,295 20,354,971
3                     9,481,518 11,218,288 12,108,469
4                       8,019,108 7,529,346 6,743,786
5                 264,842,606 272,934,412 287,431,703
6                                               OTHER
7                     3,316,242  3,062,442  2,676,774
8                              15,611  15,542  15,318
9                       6,204,394 6,490,997 6,198,314
10                          853,766  921,179  836,809
11                                                NaN
12                                                NaN

     : : 6__1 : 2005 : : 6__3 : 168,435,910  \
0                                63,345,146
1                                18,505,265
2                                15,872,423
3                                10,648,236
4                                 6,797,243
5                               283,604,223
6                                       NaN
7                                 2,133,476
8                                    11,083
9                                 6,537,783
10                                  769,208
11                                      NaN
12                                      NaN

     : : 7__1 : 2004 : : 7__3 : 161,666,709  \
0                                55,900,697
1                                17,514,072
2                                14,552,393
3                                 9,369,079
4                                 7,004,880
5                               266,007,830
6                                       NaN
7                                 1,903,845
8                                    12,235
9                                 6,262,853
10                                  688,401
11                                      NaN
12                                      NaN

     : : 8__1 : 2003 : : 8__3 : 164,347,264  \
0                                54,549,411
1                                15,158,778
2                                12,742,126
3                                11,298,387
4                                 6,642,725
5                               264,738,691
6                                       NaN
7                                 1,685,367
8                                       NaN
9                                 5,237,822
10                                  654,178
11                                      NaN
12                                      NaN

     : : 9__1 : 2002 : : 9__3 : 155,589,676
0                                51,249,197
1                                15,186,043
2                                11,814,614
3                                12,384,634
4                                 6,821,809
5                               253,045,973
6                                       NaN
7                                 1,564,541
8                                       NaN
9                                 4,720,106
10                                  589,117
11                                      NaN
12                                      NaN
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/HISTORIC%20U%20S%20%20PORT%20RANKINGS%20through%202014.pdf_45.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29
26                      30                 30
27                      31                 31
28                      32                 32
29                      33                 33
30                      34                 34
31                      35                 35
32                      36                 36
33                      37                 37
34                      38                 38
35                      39                 39
36                      40                 40
37                      41                 41
38                      42                 42
39                      43                 43
40                      44                 44
41                      45                 45
42                      46                 46
43                      47                 47
44                      48                 48
45                      49                 49
46                      50                 50

     : : 2__1 : 1974 : PORT : South Louisiana (LA)  \
0                              New York/New Jersey
1                                     Houston (TX)
2                               Hampton Roads (VA)
3                                 New Orleans (LA)
4                                Philadelphia (PA)
5                                   Baltimore (MD)
6                                 Baton Rouge (LA)
7                                     Chicago (IL)
8                                       Tampa (FL)
9                          Duluth/Superior (MI/WI)
10                                Plaquemines (LA)
11                                   Beaumont (TX)
12                                     Mobile (AL)
13                             Corpus Christi (TX)
14                                Port Arthur (TX)
15                                   Portland (ME)
16                                    Detroit (MI)
17                                 Long Beach (CA)
18                                Los Angeles (CA)
19                                      Boston(MA)
20                                  Cleveland (OH)
21                                     Toledo (OH)
22                                   Portland (WA)
23                                 Texas City (TX)
24                             Indiana Harbor (IN)
25                                   Conneaut (OH)
26                                  Ashtabula (OH)
27                               Lake Charles (LA)
28                               Jacksonville (FL)
29                                   Richmond (CA)
30                                    Seattle (WA)
31                                 Pascagoula (MS)
32                                  New Haven (CT)
33                                   San Juan (PR)
34                            Port Everglades (FL)
35                                    Buffalo (NY)
36                                Two Harbors (MI)
37                                   Savannah (GA)
38                                     Albany (NY)
39                                 Wilmington (NC)
40                                     Lorain (OH)
41                                 Charleston (SC)
42                                   Freeport (TX)
43                                 Providence (RI)
44                                   Longview (WA)
45                                   Coos Bay (OR)
46                                     Tacoma (WA)

     : : 3__1 : 1973 : TONS : *  \
0                       195,096
1                        89,106
2                        73,102
3                        60,590
4                        59,920
5                        59,891
6                        59,126
7                        45,886
8                        40,919
9                        40,345
10                       39,990
11                       33,504
12                       33,154
13                       32,844
14                       27,800
15                       27,606
16                       27,541
17                       26,894
18                       25,919
19                       25,729
20                       21,934
21                       21,557
22                       20,771
23                       20,152
24                       17,165
25                       16,566
26                       16,566
27                       16,565
28                       14,795
29                       14,764
30                       14,252
31                       13,073
32                       12,055
33                       11,805
34                       11,557
35                       10,442
36                        9,789
37                        9,699
38                        9,610
39                        9,381
40                        9,077
41                        8,993
42                        8,899
43                        8,856
44                        7,698
45                        7,633
46                        7,600

     : : 4__1 : 1972 : PORT : South Louisiana (LA)  \
0                              New York/New Jersey
1                                     Houston (TX)
2                               Hampton Roads (VA)
3                                 New Orleans (LA)
4                                Philadelphia (PA)
5                                   Baltimore (MD)
6                                 Baton Rouge (LA)
7                          Duluth/Superior (MI/WI)
8                                     Chicago (IL)
9                                 Plaquemines (LA)
10                                      Tampa (FL)
11                                   Beaumont (TX)
12                                    Detroit (MI)
13                                     Mobile (AL)
14                                   Portland (ME)
15                                 Long Beach (CA)
16                                      Boston(MA)
17                             Corpus Christi (TX)
18                                Los Angeles (CA)
19                                Port Arthur (TX)
20                                     Toledo (OH)
21                                  Cleveland (OH)
22                                   Portland (WA)
23                                 Texas City (TX)
24                                   Richmond (CA)
25                             Indiana Harbor (IN)
26                                    Seattle (WA)
27                                   Conneaut (OH)
28                                  Ashtabula (OH)
29                               Lake Charles (LA)
30                               Jacksonville (FL)
31                                  New Haven (CT)
32                                    Buffalo (NY)
33                                 Pascagoula (MS)
34                            Port Everglades (FL)
35                                     Lorain (OH)
36                                     Albany (NY)
37                                   San Juan (PR)
38                                 Providence (RI)
39                                 Wilmington (NC)
40                                     Tacoma (WA)
41                                 Charleston (SC)
42                                   Savannah (GA)
43                                Two Harbors (MI)
44                                   Honolulu (HI)
45                                   Coos Bay (OR)
46                                    Oakland (CA)

     : : 5__1 : : 5__2 : TONS : *  \
0                         216,896
1                          88,518
2                          63,694
3                          57,526
4                          54,630
5                          53,787
6                          53,569
7                          48,158
8                          47,381
9                          42,301
10                         41,923
11                         34,491
12                         31,542
13                         30,518
14                         28,844
15                         27,133
16                         27,057
17                         25,992
18                         25,977
19                         24,931
20                         24,922
21                         24,828
22                         20,077
23                         19,959
24                         18,260
25                         17,898
26                         17,000
27                         16,732
28                         16,732
29                         16,505
30                         15,514
31                         13,709
32                         13,177
33                         12,877
34                         12,542
35                         11,584
36                         11,328
37                         10,773
38                         10,236
39                         10,062
40                          9,805
41                          9,380
42                          8,980
43                          8,630
44                          8,188
45                          7,731
46                          7,415

     : : 6__1 : : 6__2 : PORT : South Louisiana (LA)  \
0                                New York/New Jersey
1                                       Houston (TX)
2                                 Hampton Roads (VA)
3                                   Baton Rouge (LA)
4                                   New Orleans (LA)
5                                  Philadelphia (PA)
6                                       Chicago (IL)
7                                     Baltimore (MD)
8                                   Plaquemines (LA)
9                                         Tampa (FL)
10                           Duluth/Superior (MI/WI)
11                                     Beaumont (TX)
12                                     Portland (ME)
13                                      Detroit (MI)
14                                       Mobile (AL)
15                                        Boston(MA)
16                                       Toledo (OH)
17                                    Cleveland (OH)
18                                  Los Angeles (CA)
19                               Corpus Christi (TX)
20                                  Port Arthur (TX)
21                                   Long Beach (CA)
22                                   Texas City (TX)
23                               Indiana Harbor (IN)
24                                     Portland (WA)
25                                 Lake Charles (LA)
26                                     Richmond (CA)
27                                 Jacksonville (FL)
28                                    Ashtabula (OH)
29                                     Conneaut (OH)
30                                      Seattle (WA)
31                                    New Haven (CT)
32                                   Pascagoula (MS)
33                              Port Everglades (FL)
34                                       Albany (NY)
35                                       Lorain (OH)
36                                     San Juan (PR)
37                                      Buffalo (NY)
38                                   Providence (RI)
39                                   Wilmington (NC)
40                                       Tacoma (WA)
41                                     Savannah (GA)
42                                     Honolulu (HI)
43                                   Charleston (SC)
44                                  Two Harbors (MI)
45                                     Coos Bay (OR)
46                                     Freeport (TX)

     : : 7__1 : : 7__2 : TONS : *
0                         196,843
1                          71,431
2                          58,357
3                          52,903
4                          49,682
5                          48,357
6                          46,838
7                          45,799
8                          44,664
9                          43,230
10                         37,896
11                         32,391
12                         30,683
13                         29,913
14                         27,291
15                         26,483
16                         25,249
17                         23,866
18                         23,837
19                         22,301
20                         21,708
21                         20,795
22                         20,355
23                         17,611
24                         17,086
25                         17,029

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29

     : : 2__1 : : 2__2 : Port (Province/State) : : 2__4  \
0                                                 NaN
1                                        Halifax (NS)
2                                       Hamilton (ON)
3                                       Montreal (QU)
4                                        Nanaimo (BC)
5                           Port Metro Vancouver (BC)
6                                   Prince Rupert(BC)
7                                     Saint John (NB)
8                                        Toronto (ON)
9                                                 NaN
10                                     Altamira (TAM)
11                                Coatzacoalcos (VER)
12                                    Dos Bocas (TAB)
13                                    Ensenada (BCAL)
14                                      Guaymas, SON.
15                             Lazaro Cardenas (MICH)
16                                   Manzanillo (COL)
17                                    Mazatlán (SIN.)
18                                     Progreso (YUC)
19                              Puerto Morelos (QROO)
20                                  Salina Cruz (OAX)
21                                    Tampico (TAMPS)
22                                     Tuxpan (TAMPS)
23                                     Veracruz (VER)
24                                                NaN
25                                     Anchorage (AK)

     : : 3__1 : : 3__2 : TEUs (2) Boxes (3) : : 3__4  \
0                                             CANADA
1                                            400,063
2                                                 25
3                                          1,402,393
4                                             24,405
5                                          2,912,900
6                                            618,170
7                                             89,615
8                                              2,088
9                                             MEXICO
10                                           599,357
11                                               689
12                                                42
13                                           139,938
14                                             9,582
15                                           996,654
16                                         2,368,741
17                                            33,652
18                                            65,583
19                                             9,770
20                                                67
21                                               161
22                                                23
23                                           847,370
24                                     UNITED STATES
25                                           584,318

     : : 4__1 : : 4__2 : : 4__3 : : 4__4  \
0                                    NaN
1                                230,139
2                                     18
3                                835,370
4                                    NaN
5                              1,692,811
6                                340,646
7                                    NaN
8                                  1,108
9                                    NaN
10                               390,977
11                                   367
12                                    40
13                                82,828
14                                 6,642
15                               593,268
16                             1,500,627
17                                25,394
18                                35,800
19                                 6,186
20                                    35
21                                   161
22                                    23
23                               529,200
24                                   NaN
25                               264,169

     : : 5__1 : Containerized : : 5__3 : Cargo (4)  \
0                                              NaN
1                                        3,366,428
2                                               44
3                                       12,575,069
4                                          301,801
5                                       24,659,212
6                                        6,181,680
7                                          565,438
8                                            2,775
9                                              NaN
10                                       5,352,223
11                                           3,263
12                                             392
13                                         864,803
14                                         102,805
15                                       7,001,933
16                                      18,092,651
17                                         400,500
18                                         442,342
19                                          41,905
20                                             295
21                                           1,064
22                                             211
23                                       7,957,105
24                                             NaN
25                                       1,572,303

   Table  : NAFTA REGION PORT CONTAINER TRAFFIC 2014 (1) : Containerized : Port (Province/State) TEUs (2) Boxes (3) Port (Province/State) : Cargo (4)  \
0                                       UNITED STATES
1   Apra (GU) (FY)  161,337 93,456 2,048,457 Lake ...
2   Baltimore (MD) (5) 770,139 484,410 6,009,792 L...
3      Beaumont (TX) 7,442 7,442 n/a Los Angeles (CA)
4   Boston (MA) 214,243 121,825 1,612,615 Miami (F...
5               Camden (NJ) n/a n/a 7,621 Mobile (AL)
6   Canaveral (FL) (FY) 388 388 n/a Nawiliwili (HI...
7   Charleston (SC) 1,791,977 1,022,781 n/a New Or...
8    Cleveland (OH) 547 n/a 7,687 New York/New Jersey
9        Everett (WA) 23,136 n/a 102,355 Oakland (CA)
10  Fernandina (FL) 9,295 8,660 33,615 Palm Beach ...
11  Freeport (TX) 89,928 44,964 755,165 Panama Cit...
12    Galveston, TX n/a n/a 188,475 Philadelphia (PA)
13  Greater Baton Rouge (LA) 383 n/a 7,207 Port Ev...
14  Gulfport (MS) 188,133 n/a 1,373,324 Port Manat...
15  Hampton Roads (VA) 2,393,038 1,373,138 16,994,...
16  Hilo (HI) (FY) 39,165 24,035 353,033 Portland(OR)
17  Honolulu (HI) (FY) 1,129,681 616,456 7,356,508...
18  Houston (TX) 1,951,088 1,211,922 17,600,113 Sa...
19  Hueneme (CA) 97,090 48,545 841,670 (6) Savanna...
20  Jacksonville (FL) (FY) 936,973 477,842 4,593,1...
21  Kahului (HI) (FY) 100,486 57,307 750,733 Stock...
22  Kalaeloa Barbers Point  (HI) (FY) 8,838 5,404 ...
23  Kaumalapau (HI) (FY) 2,494  2,042  26,161 Vanc...
24  Kaunakakai (HI) (FY) 1,613 1,295 15,213 Wilmin...
25  Kawaihae (HI) (FY) 75,553 41,858 545,000 Wilmi...

      : : 7__1 : : 7__2 : : 7__3 : : 7__4  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN
19                                    NaN
20                                    NaN
21                                    NaN
22                                    NaN
23                                    NaN
24                                    NaN
25                                    NaN

     : : 8__1 : : 8__2 : TEUs (2) : : 8__4  \
0                                      NaN
1                                      463
2                                6,820,808
3                                8,340,066
4                                  876,708
5                                  238,443
6                                   47,780
7                                  490,514
8                                5,772,303
9                                2,394,069
10                                 262,805
11                                  36,624
12                                 449,122
13                               1,013,344
14                                  13,671
15                                  11,511
16                                 164,931
17                                 109,400
18                               1,319,961
19                               3,346,048
20                               3,427,562
21                                   8,296
22                                  47,265
23                                     736
24                                 333,944
25                                 278,962

     : : 9__1 : : 9__2 : Boxes (3) : : 9__4  \
0                                       NaN
1                                       NaN
2                                 3,751,423
3                                 4,577,008
4                                   495,720
5                                       NaN
6                                    27,652
7                                   306,143
8                                 3,342,286
9                                 1,359,196
10                                      NaN
11                                   18,311
12                                      NaN
13                                      NaN
14                                      NaN
15                                    8,011
16                                   97,098
17                                      NaN
18                                  637,662
19                                1,857,748
20                                1,906,200
21                                    4,977
22                                   34,950
23                                      613
24                                  166,972
25                                  153,603

     : : 10__1 : Containerized : : 10__3 : Cargo (4)
0                                                NaN
1                                             10,081
2                                         41,652,176
3                                                NaN
4                                          6,985,337
5                                                NaN
6                                            352,408
7                                          4,183,580
8                                     35,361,350 (6)
9                                                NaN
10                                         1,117,810
11                                           218,206
12                                         2,916,148
13                                         5,923,808
14                                           121,824
15                                           161,385
16                                         1,594,748
17                                           687,624
18                                         5,893,988
19                                        22,523,757
20                                        25,523,456
21                                            48,518
22                                           376,618
23                                             8,832
24                                         1,967,485
25                                         2,106,953
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/HISTORIC%20U%20S%20%20PORT%20RANKINGS%20through%202014.pdf_42.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
..                     ...                ...
74                      78                 78
75                      79                 79
76                      80                 80
77                      81                 81
78                      82                 82

   Lorain (OH) : Presque Isle (MI) : Galveston (TX) : Honolulu (HI) : Burns Waterway (IN)  \
0                                       Coos Bay (OR)
1                                        Oakland (CA)
2                                  Barbers Point (HI)
3                                        Everett (WA)
4                                   Port Angeles (WA)
..                                                ...
74                                      Taconite (MN)
75                                     Rochester (NY)
76                                  Port Dolmite (MI)
77                                     Stoneport (MI)
78                                   Port Inland (MI)

   : 3__0 : 7,957 : 7,786 : 7,751 : 7,306  \
0                                   7,064
1                                   6,937
2                                   6,307
3                                   6,064
4                                   4,868
..                                    ...
74                                    NaN
75                                    NaN
76                                    NaN
77                                    NaN
78                                    NaN

   Coos Bay (OR) : Honolulu (HI) : Oakland (CA) : Barbers Point (HI) : Lorain (OH)  \
0                                     Fall River (MA)
1                                   Presque Isle (MI)
2                                        Everett (WA)
3                                      St. Clair (MI)
4                                 Burns Waterway (IN)
..                                                ...
74                                      Taconite (MN)
75                                   Port Inland (MI)
76                                  Port Dolmite (MI)
77                                     Rochester (NY)
78                                    Port Huron (MI)

   : 5__0 : 6,882 : 6,829 : 6,631 : 6,287  \
0                                   5,285
1                                   5,215
2                                   4,589
3                                   4,586
4                                   4,570
..                                    ...
74                                    NaN
75                                    NaN
76                                    NaN
77                                    NaN
78                                    NaN

   Galveston (TX) : Honolulu (HI) : Coos Bay (OR) : Presque Isle (MI) : Oakland (CA)  \
0                                  Barbers Point (HI)
1                                 Burns Waterway (IN)
2                                       Sandusky (OH)
3                                     Fall River (MA)
4                                    Port Lavaca (TX)
..                                                ...
74                                    Silver Bay (MN)
75                                     Rochester (NY)
76                                  Port Dolmite (MI)
77                                   Port Inland (MI)
78                                    Port Huron (MI)

     : 7 ,190 : 7 ,116 : 6 ,841 : 6 ,634  \
0                                 6 ,593
1                                 5 ,513
2                                 5 ,370
3                                 4 ,739
4                                 4 ,256
..                                   ...
74                                   NaN
75                                   NaN
76                                   NaN
77                                   NaN
78                                   NaN

   Coos Bay (OR) : Oakland (CA) : Burns Waterway (IN) : Galveston (TX) : Barbers Point (HI)  \
0                                      Anacortes (WA)
1                                     Fall River (MA)
2                                       Sandusky (OH)
3                                        Everett (WA)
4                                    Port Lavaca (TX)
..                                                ...
74                                    Silver Bay (MN)
75                                     Rochester (NY)
76                                  Port Dolmite (MI)
77                                   Port Inland (MI)
78                                    Port Huron (MI)

   : 9__0 : 6,186 : 6,093 : 5,971 : 5,186
0                                   4,852
1                                   4,834
2                                   4,533
3                                   4,367
4                                   4,343
..                                    ...
74                                    NaN
75                                    NaN
76                                    NaN
77                                    NaN
78                                    NaN

[79 rows x 10 columns]
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%2ES%2E%20WATERBORNE%20FOREIGN%20TRADE%202013%20PORT%20RANKING%20BY%20CARGO%20VALUE.pdf_1.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21

             : : 2__1 : : 2__2 : : 2__3 : OCEAN ROUTE  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                            Caribbean/Gulf of Mexico
4                   Central America East Coast/ North
5                                         East Africa
6                              Indian Ocean/ Far East
7                            Mediterranean, Black Sea
8                                         Middle East
9                                    Northeast Africa
10                             Northern Europe/Europe
11                          South America  West Coast
12                     South Atlantic/Rio de la Plata
13                    United States/Canada East Coast
14                       West Africa (Gulf of Guinea)
15                                       Unidentified
16                                          T O T A L
17  Source: Agência Nacional de Transportes Aquavi...

     : : 3__1 : : 3__2 : Dry Bulk : : 3__4  \
0                                      NaN
1                                     Tons
2                                      NaN
3                                9,132,678
4                                3,003,969
5                                1,477,311
6                              232,000,174
7                               32,321,060
8                               17,520,731
9                                2,499,075
10                              75,892,906
11                               2,198,746
12                               9,203,514
13                              22,007,008
14                               2,035,357
15                              48,028,089
16                             457,320,618
17                                     NaN

   BRAZILIAN WATERBORNE FOREIGN TRADE  : BY OCEAN TRADE ROUTE : Metric Tons : Liquid Bulk Breakbulk : : 4__4  \
0                                      % of % of % of
1                                           Tons Tons
2                                   Total Total Total
3                  2.0% 2,576,488 4.4% 3,688,095 9.9%
4                      0.7% 504,406 0.9% 947,217 2.5%
5                      0.3% 243,551 0.4% 141,707 0.4%
6             50.7% 10,447,913 17.9% 13,072,590 35.2%
7                  7.1% 5,275,257 9.0% 1,257,520 3.4%
8                    3.8% 5,046,630 8.7% 745,283 2.0%
9                      0.5% 405,745 0.7% 336,796 0.9%
10               16.6% 5,224,628 9.0% 5,281,366 14.2%
11                   0.5% 1,235,806 2.1% 884,999 2.4%
12                 2.0% 3,028,367 5.2% 1,726,461 4.6%
13               4.8% 9,371,182 16.1% 3,995,261 10.8%
14                 0.4% 11,184,501 19.2% 145,318 0.4%
15               10.5% 3,760,684 6.5% 4,927,754 13.3%
16         100.0% 58,305,155 100.0% 37,150,365 100.0%
17                                                NaN

     : : 5__1 : : 5__2 : Containerized : : 5__4  \
0                                          % of
1                                          Tons
2                                         Total
3                               7,751,084 12.2%
4                                  163,286 0.3%
5                                  996,681 1.6%
6                              16,395,390 25.8%
7                               7,961,698 12.5%
8                                  798,613 1.3%
9                                1,145,388 1.8%
10                             12,425,691 19.5%
11                               1,231,756 1.9%
12                               3,341,811 5.3%
13                              8,233,283 12.9%
14                                 637,703 1.0%
15                               2,534,531 4.0%
16                            63,617,011 100.0%
17                                          NaN

     : : 6__1 : : 6__2 : Total Cargo : : 6__4
0                                        % of
1                                        Tons
2                                       Total
3                             22,701,305 3.7%
4                              4,532,778 0.7%
5                              2,859,250 0.5%
6                           271,916,067 44.1%
7                             46,815,535 7.6%
8                             24,111,257 3.9%
9                              4,387,004 0.7%
10                           98,824,591 16.0%
11                             4,905,387 0.8%
12                            17,300,153 2.8%
13                            43,047,864 7.0%
14                            14,002,879 2.3%
15                            59,251,058 9.6%
16                         616,393,149 100.0%
17                                        NaN
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/CANADA%20PORT%20RANKINGS%202010.pdf_1.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29
26                      30                 30
27                      31                 31
28                      32                 32
29                      33                 33
30                      34                 34
31                      35                 35
32                      36                 36
33                      37                 37
34                      38                 38
35                      39                 39
36                      40                 40
37                      41                 41
38                      42                 42
39                      43                 43
40                      44                 44
41                      45                 45
42                      46                 46
43                      47                 47
44                      48                 48
45                      49                 49
46                      50                 50
47                      51                 51
48                      52                 52
49                      53                 53
50                      54                 54
51                      55                 55
52                      56                 56
53                      57                 57

      : : 2__1 : : 2__2 : : 2__3 : RANK  \
0                                   1.0
1                                   2.0
2                                   3.0
3                                   4.0
4                                   5.0
5                                   6.0
6                                   7.0
7                                   8.0
8                                   9.0
9                                  10.0
10                                 11.0
11                                 12.0
12                                 13.0
13                                 14.0
14                                 15.0
15                                 16.0
16                                 17.0
17                                 18.0
18                                 19.0
19                                 20.0
20                                 21.0
21                                 22.0
22                                 23.0
23                                 24.0
24                                 25.0
25                                 26.0
26                                 27.0
27                                 28.0
28                                 29.0
29                                 30.0
30                                 31.0
31                                 32.0
32                                 33.0
33                                 34.0
34                                 35.0
35                                 36.0
36                                 37.0
37                                 38.0
38                                 39.0
39                                 40.0
40                                 41.0
41                                 42.0
42                                 43.0
43                                 44.0
44                                 45.0
45                                 46.0
46                                 47.0
47                                 48.0
48                                 49.0
49                                 50.0
50                                  NaN
51                                  NaN
52                                  NaN
53                                  NaN

               : : 3__1 : : 3__2 : : 3__3 : Ports  \
0                      Newfoundland Offshore (NF)
1                            Come-By-Chance (NFL)
2                            Metro Vancouver (BC)
3                                   Hamilton (ON)
4                                Thunder Bay (ON)
5                       Montréal/Contrecoeur (QU)
6                               Québec/Lévis (QU)
7                East Coast Vancouver Island (BC)
8                                 Saint John (NB)
9                                 Howe Sound (BC)
10                              Port-Cartier (QU)
11                                     Sorel (QU)
12                           Havre-St-Pierre (QU)
13                                   Halifax (NS)
14                                  Clarkson (ON)
15                                   Windsor (ON)
16                                    Sarnia (ON)
17                               Baie-Comeau (QU)
18                    Sept-Îles/Pointe-Noire (QU)
19                                  Colborne (ON)
20                               Meldrum Bay (ON)
21                              Corner Brook (NF)
22                                St. John's (NF)
23                                  Goderich (ON)
24                      Iles-de-la-Madeleine (QU)
25                                   Crofton (BC)
26                                 Nanticoke (ON)
27                                   Toronto (ON)
28                            Charlottetown (PEI)
29                                Beale Cove (BC)
30                            Trois-Rivières (QU)
31                                    Matane (QC)
32                           Sault-Ste-Marie (ON)
33                                 Whitefish (ON)
34                             Côte-Ste-Catherine
35                             Texada Island (BC)
36                              Port Alberni (BC)
37                           Port Hawkesbury (NS)
38                                 Bécancour (QU)
39                                    Picton (ON)
40                                    Sydney (NS)
41                                 Belledune (NB)
42                               Bowmanville (ON)
43                                Courtright (ON)
44                                   Nanaimo (BC)
45                                  Squamish (BC)
46                               Port-Alfred (QU)
47                                   Kitimat (BC)
48                             Prince Rupert (BC)
49                               Port Mcnell (BC)
50                                      Sub-total
51                                    Other ports
52                                    Grand total
53  Source: Statistics Canada, Shipping in Canada

     : : 4__1 : : 4__2 : Domestic : Loaded  \
0                                   11,725
1                                    1,537
2                                    5,953
3                                    1,285
4                                    4,611
5                                    1,328
6                                    2,336
7                                    1,247
8                                      918
9                                    1,789
10                                   2,270
11                                       4
12                                   2,735
13                                   1,325
14                                     111
15                                     866
16                                     996
17                                     507
18                                   1,169
19                                   1,874
20                                   1,680
21                                   1,120
22                                     422
23                                   1,206
24                                   1,014
25                                      43
26                                     817
27                                       0
28                                       0
29                                     517
30                                      35
31                                      66
32                                     320
33                                     546
34                                      61
35                                     486
36                                     194
37                                     229
38                                      57
39                                     294
40                                       0
41                                     140
42                                      21
43                                      10
44                                      58
45                                      59
46                                       0
47                                       7
48                                       0
49                                       0
50                                  53,989
51                                   4,104
52                                  58,092
53                                     NaN

      : : 5__1 : : 5__2 : : 5__3 : Unloaded  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       NaN
8                                       NaN
9                                       NaN
10                                      NaN
11                                      NaN
12                                      NaN
13                                      NaN
14                                      NaN
15                                      NaN
16                                      NaN
17                                      NaN
18                                      NaN
19                                      NaN
20                                      NaN
21                                      NaN
22                                      NaN
23                                      NaN
24                                      NaN
25                                      NaN
26                                      NaN
27                                      NaN
28                                      NaN
29                                      NaN
30                                      NaN
31                                      NaN
32                                      NaN
33                                      NaN
34                                      NaN
35                                      NaN
36                                      NaN
37                                      NaN
38                                      NaN
39                                      NaN
40                                      NaN
41                                      NaN
42                                      NaN
43                                      NaN
44                                      NaN
45                                      NaN
46                                      NaN
47                                      NaN
48                                      NaN
49                                      NaN
50                                      NaN
51                                      NaN
52                                      NaN
53                                      NaN

     : : 6__1 : : 6__2 : : 6__3 : : 6__4   : : 7__1 : : 7__2 : : 7__3 : Total  \
0                                    311                               12,036
1                                  9,083                               10,619
2                                  4,441                               10,394
3                                  3,902                                5,187
4                                    256                                4,867
5                                  3,525                                4,853
6                                  2,142                                4,478
7                                  3,022                                4,269
8                                  3,111                                4,029
9                                  2,218                                4,006
10                                 1,485                                3,755
11                                 3,149                                3,153
12                                     6                                2,742
13                                 1,307                                2,631
14                                 2,334                                2,445
15                                 1,443                                2,309
16                                 1,230                                2,226
17                                 1,597                                2,104
18                                   789                                1,958
19                                     0                                1,874
20                                     0                                1,680
21                                   331                                1,450
22                                 1,013                                1,435
23                                    59                                1,265

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15

   Fernandina (FL) : Waukegan (IL) : New Bedford (MA) : Oswego (NY) : Port Townsend (WA)  \
0                                       Mayaguez (PR)
1                                        Fajardo (PR)
2                                     St. Thomas (VI)
3                                         Seward (AK)
4                                          Homer (AK)
5                                         Juneau (AK)
6                                        Astoria (OR)
7                                         Kodiak (AK)
8                                        Skagway (AK)
9                                                 NaN
10                                                NaN
11                                                NaN

    : 3__0 : 555.0 : 533.0 : 471.0 : 456.0  \
0                                    452.0
1                                    426.0
2                                    380.0
3                                    380.0
4                                    338.0
5                                    320.0
6                                    306.0
7                                    207.0
8                                    197.0
9                                      NaN
10                                     NaN
11                                     NaN

   Marquette (MI) : Oswego (NY) : Port Huron (MI) : Juneau (AK) : New Bedford (MA)  \
0                                     Fernandina (FL)
1                                       Waukegan (IL)
2                                       Mayaguez (PR)
3                                  Port Townsend (WA)
4                                     St. Thomas (VI)
5                                        Fajardo (PR)
6                                          Homer (AK)
7                                        Astoria (OR)
8                                        Skagway (AK)
9                                                 NaN
10                                                NaN
11                                                NaN

    : 5__0 : 640.0 : 588.0 : 583.0 : 554.0  \
0                                    533.0
1                                    473.0
2                                    424.0
3                                    412.0
4                                    383.0
5                                    349.0
6                                    302.0
7                                    298.0
8                                    258.0
9                                      NaN
10                                     NaN
11                                     NaN

   New Bedford (MA) : St. Thomas (VI) : Oswego (NY) : Wrangell (AK) : Waukegan (IL)  \
0                                         Juneau (AK)
1                                  Port Townsend (WA)
2                                          Homer (AK)
3                                       Mayaguez (PR)
4                                 Kelleys Island (OH)
5                                        Astoria (OR)
6                                  Christiansted (VI)
7                                        Fajardo (PR)
8                                      Rochester (NY)
9                                                 NaN
10                                                NaN
11                                                NaN

     : 5 12 : 5 11 : 4 73 : 4 69  \
0                           4 65
1                           4 64
2                           3 97
3                           3 95
4                           3 71
5                           3 24
6                           2 97
7                           2 95
8                           1 67
9                            NaN
10                           NaN
11                           NaN

   St Thomas (VI) : Port Townsend (WA) : Christiansted (VI) : Skagway (AK) : Fajardo (PR)  \
0                                         Juneau (AK)
1                                 Kelleys Island (OH)
2                                          Sitka (AK)
3                                      Rochester (NY)
4                                   Port Dolmite (MI)
5                                    Port Inland (MI)
6                                           Gary (IN)
7                                     Marblehead (OH)
8                                     Silver Bay (MN)
9                                                 NaN
10                                                NaN
11                                                NaN

     : 3 62 : 2 87 : 2 65 : 2 51
0                           1 92
1                           1 23
2                              -
3                            NaN
4                            NaN
5                            NaN
6                            NaN
7                            NaN
8                            NaN
9                            NaN
10                           NaN
11                           NaN
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%2ES%2E%20WATERBORNE%20TRADE%202012%20TOP%20TRADING%20PARTNERS%5F1361913223745%5F5.pdf_2.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29
26                      30                 30
27                      31                 31
28                      32                 32

      : : 2__1 : : 2__2 : : 2__3 : RANK  \
0                                   1.0
1                                   2.0
2                                   3.0
3                                   4.0
4                                   5.0
5                                   6.0
6                                   7.0
7                                   8.0
8                                   9.0
9                                  10.0
10                                 11.0
11                                 12.0
12                                 13.0
13                                 14.0
14                                 15.0
15                                 16.0
16                                 17.0
17                                 18.0
18                                 19.0
19                                 20.0
20                                 21.0
21                                 22.0
22                                 23.0
23                                 24.0
24                                 25.0
25                                  NaN
26                                  NaN
27                                  NaN
28                                  NaN

     : : 3__1 : : 3__2 : : 3__3 : COUNTRY  \
0                                   China
1                                   Japan
2                                  Mexico
3                                  Brazil
4                             Netherlands
5                             South Korea
6                                 Germany
7                               Australia
8                          United Kingdom
9                                 Belgium
10                              Venezuela
11                                  Chile
12                           Saudi Arabia
13                              Singapore
14                                 Taiwan
15                               Colombia
16                                  India
17                                 France
18                   United Arab Emirates
19                                 Turkey
20                              Hong Kong
21                                 Panama
22                                 Canada
23                                   Peru
24                                  Italy
25                                 Top 25
26                                  Other
27                                    NaN
28                            GRAND TOTAL

     : : 4__1 : : 4__2 : EXPORTS : 2012   : : 5__1 : : 5__2 : : 5__3 : 2011  \
0                               $69,795                             $58,066
1                               $35,058                             $34,966
2                               $28,569                             $26,969
3                               $25,848                             $26,087
4                               $23,611                             $24,424
5                               $22,530                             $25,064
6                               $20,355                             $19,395
7                               $20,031                             $16,431
8                               $17,127                             $16,173
9                               $14,917                             $15,168
10                              $14,199                              $9,036
11                              $14,133                             $12,178
12                              $13,704                             $10,945
13                              $13,401                             $13,314
14                              $11,421                             $12,153
15                              $11,315                             $10,192
16                              $10,391                             $11,461
17                              $10,187                              $8,449
18                               $9,177                              $7,260
19                               $9,138                              $9,972
20                               $8,538                              $8,562
21                               $8,139                              $6,722
22                               $8,121                              $8,197
23                               $7,464                              $6,615
24                               $7,126                              $7,609
25                             $440,819                            $417,135
26                             $151,303                            $153,151
27                                  NaN                                 NaN
28                             $592,122                            $570,286

     : : 6__1 : : 6__2 : : 6__3 : Change    : : 7__1 : : 7__2 : : 7__3 : RANK  \
0                                  20.2%                                  1.0
1                                   0.3%                                  2.0
2                                   5.9%                                  3.0
3                                  -0.9%                                  4.0
4                                  -3.3%                                  5.0
5                                 -10.1%                                  6.0
6                                   5.0%                                  7.0
7                                  21.9%                                  8.0
8                                   5.9%                                  9.0
9                                  -1.7%                                 10.0
10                                 57.1%                                 11.0
11                                 16.1%                                 12.0
12                                 25.2%                                 13.0
13                                  0.7%                                 14.0
14                                 -6.0%                                 15.0
15                                 11.0%                                 16.0
16                                 -9.3%                                 17.0
17                                 20.6%                                 18.0
18                                 26.4%                                 19.0
19                                 -8.4%                                 20.0
20                                 -0.3%                                 21.0
21                                 21.1%                                 22.0
22                                 -0.9%                                 23.0
23                                 12.8%                                 24.0
24                                 -6.4%                                 25.0
25                                  5.7%                                  NaN
26                                  5.7%                                  NaN
27                                   NaN                                  NaN
28                                  3.8%                                  NaN

   TABL B: US WATERBORNE FOREIGN TRADE  : TRADING PARTNER RANKING BY VALUE OF TRADE : Millions of Current U.S. Dollars : IMPORTS : COUNTRY 2012 2011  \
0                             China $271,682 $250,729
1                              Japan $110,615 $92,070
2                             Germany $66,078 $56,102
3                        Saudi Arabia $55,112 $47,205
4                              Mexico $45,391 $49,026
5                         South Korea $43,663 $37,198
6                           Venezuela $38,490 $43,167
7                              Russia $27,886 $32,531
8                              Brazil $27,767 $27,848
9                               India $26,612 $22,223
10                     United Kingdom $26,531 $23,608
11                             Canada $23,773 $24,061
12                             Taiwan $22,480 $20,733
13                              Italy $20,522 $18,851
14                           Colombia $20,226 $19,689
15                               Iraq $19,243 $16,938
16                            Nigeria $19,088 $33,698
17                            Vietnam $18,174 $15,969
18                             France $16,800 $15,444
19                          Indonesia $16,015 $17,068
20                           Thailand $14,971 $14,768
21                              Kuwait $12,988 $7,787
22                        Netherlands $12,734 $12,552
23                           Malaysia $10,586 $10,329
24                             Algeria $9,989 $14,578
25                           Top 25 $984,753 $945,125
26                             Other $205,372 213,971
27                                                NaN
28                  GRAND TOTAL $1,190,125 $1,159,096

     : : 9__1 : : 9__2 : : 9__3 : Change  \
0                                   8.4%
1                                  20.1%
2                                  17.8%
3                                  16.8%
4                                  -7.4%
5                                  17.4%
6                                 -10.8%
7                                 -14.3%
8                                  -0.3%
9                                  19.7%
10                                 12.4%
11                                 -1.2%
12                                  8.4%
13                                  8.9%
14                                  2.7%
15                                 13.6%
16                                -43.4%
17                                 13.8%
18                                  8.8%
19                                 -6.2%
20                                  1.4%
21                                 66.8%
22                                  1.4%
23                                  2.5%
24                                -31.5%
25                                  4.2%
26                                 -4.0%
27                                   NaN
28                                  2.7%

      : : 10__1 : : 10__2 : : 10__3 : RANK  \
0                                      1.0
1                                      2.0
2                                      3.0
3                                      4.0
4                                      5.0
5                                      6.0
6                                      7.0
7                                      8.0
8                                      9.0
9                                     10.0
10                                    11.0
11                                    12.0
12                                    13.0
13                                    14.0
14                                    15.0
15                                    16.0
16                                    17.0
17                                    18.0
18                                    19.0
19                                    20.0
20                                    21.0
21                                    22.0
22                                    23.0
23                                    24.0
24                                    25.0
25                                     NaN
26                                     NaN
27                                     NaN
28                                     NaN

     : : 11__1 : : 11__2 : : 11__3 : COUNTRY  \
0                                      China
1                                      Japan
2                                    Germany
3                                     Mexico
4                               Saudi Arabia
5                                South Korea
6                                     Brazil
7                                  Venezuela
8                             United Kingdom
9                                      India
10                               Netherlands
11                                    Russia
12                                    Taiwan
13                                    Canada
14                                  Colombia
15                                     Italy
16                                    France
17                                 Australia
18                                   Nigeria
19                                   Belgium
20                                     Chile
21                                 Indonesia
22                                   Vietnam
23                                      Iraq
24                                  Thailand
25                                    Top 25
26                                     Other
27                                       NaN
28                               GRAND TOTAL

     : : 12__1 : : 12__2 : TOTAL : 2012  \
0                              $341,477
1                              $145,673
2                               $86,433
3                               $73,960

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28

     : 2009 : TOTAL TRADE : : 2__3 : 332.2   : 2008 : : 3__2 : : 3__3 : 343.2  \
0                                  5,736.4                            5,621.1
1                                  2,486.6                            2,852.0
2                                  7,468.2                            7,499.7
3                                  4,529.7                            4,776.3
4                                  1,025.9                            1,110.6
5                                  4,926.1                            4,362.8
6                                 26,505.0                           26,565.7
7                                      NaN                                NaN
8                                  7,964.1                            8,542.3
9                                    369.3                              324.6
10                                45,600.1                           51,425.0
11                                15,199.9                           16,584.7
12                                39,539.9                           45,713.4
13                                15,058.8                           15,861.3
14                                     4.3                                4.7
15                                   417.0                            1,217.7
16                                   103.4                              194.5
17                                 6,528.0                            7,190.1
18                                   792.6                              711.5
19                                   318.1                              348.2
20                                76,798.2                           86,172.5
21                               208,693.8                          234,290.3
22                               235,198.8                          260,856.1
23                                   11.3%                              10.2%
24                                   88.7%                              89.8%

     : 2007 : : 4__2 : : 4__3 : 251.9   : 2006 : : 5__2 : : 5__3 : 343.6  \
0                             5,485.1                            4,933.9
1                             2,647.8                            2,565.9
2                             7,217.5                            7,207.4
3                             4,901.7                            4,144.0
4                             1,195.1                            1,353.1
5                             4,243.9                            3,725.6
6                            25,943.0                           24,273.5
7                                 NaN                                NaN
8                             8,131.6                            7,310.9
9                               238.0                              231.3
10                           46,805.0                           46,853.6
11                           12,681.9                           11,583.1
12                           43,642.9                           42,720.9
13                           15,069.4                           18,998.9
14                                5.3                                2.4
15                            1,306.1                            1,199.2
16                              132.9                              104.1
17                            6,237.2                            5,984.4
18                              817.5                              900.6
19                              380.5                              473.5
20                           96,454.5                          102,040.3
21                          231,902.8                          238,403.2
22                          257,845.8                          262,676.7
23                              10.1%                               9.2%
24                              89.9%                              90.8%

     : 2005 : : 6__2 : : 6__3 : 253.3   : 2004 : : 7__2 : : 7__3 : 181.8  \
0                             4,652.5                            4,539.3
1                             2,191.8                            2,082.2
2                             6,073.5                            6,213.6
3                             3,789.5                            3,878.3
4                             1,008.4                              789.6
5                             3,241.3                            3,241.5
6                            21,210.3                           20,926.4
7                                 NaN                                NaN
8                             9,740.0                            9,385.3
9                               211.0                              276.8
10                           45,209.1                           44,753.4
11                           12,554.7                           10,656.7
12                           40,188.1                           36,049.6
13                           18,147.2                           16,390.7
14                                1.5                                1.5
15                            1,430.2                            1,486.0
16                              159.4                              106.9
17                            6,454.9                            5,579.1
18                            1,052.8                            1,050.1
19                              591.3                              546.9
20                          111,813.4                          113,736.7
21                          247,553.6                          240,019.7
22                          268,763.9                          260,946.1
23                               7.9%                               8.0%
24                              92.1%                              92.0%

     : 2003 : : 8__2 : : 8__3 : 271.5   : 2002 : : 9__2 : : 9__3 : 179.2  \
0                             4,602.5                            4,222.7
1                             2,155.3                            1,906.7
2                             6,495.2                            5,944.2
3                             3,693.7                            2,818.1
4                               777.9                              630.0
5                             3,562.1                            2,230.4
6                            21,558.2                           17,931.3
7                                 NaN                                NaN
8                             9,410.0                            9,883.3
9                               188.1                              146.4
10                           38,131.0                           35,358.4
11                           10,196.9                            8,337.7
12                           35,047.2                           31,713.7
13                           10,570.1                            9,589.6
14                                2.5                                3.2
15                            1,644.2                            1,719.7
16                               81.8                               52.3
17                            4,776.8                            4,591.9
18                            1,224.5                            1,137.1
19                              225.3                              105.0
20                           98,057.4                           98,886.5
21                          209,555.6                          201,524.8
22                          231,113.8                          219,456.1
23                               9.3%                               8.2%
24                              90.7%                              91.8%

     : 2001 : : 10__2 : : 10__3 : 241.2   : 2000 : : 11__2 : : 11__3 : 250.2  \
0                               4,180.0                              4,305.4
1                               1,935.4                              1,863.3
2                               4,852.7                              4,832.7
3                               2,432.7                              2,398.3
4                                 690.4                                521.1
5                               2,324.7                              2,322.3
6                              16,657.0                             16,493.3
7                                   NaN                                  NaN
8                               8,948.3                              7,868.0
9                                 146.7                                237.0
10                             33,713.8                             33,321.9
11                              9,493.4                              7,148.0
12                             33,142.2                             32,236.9
13                              9,464.0                              8,629.4
14                                  1.9                                  1.9
15                              1,570.5                              1,956.0
16                                 70.9                                 78.8
17                              4,880.4                              3,242.0
18                              1,099.4                                972.7
19                                145.4                                148.0
20                            107,233.0                            105,611.2
21                            209,909.8                            201,451.7
22                            226,566.8                            217,945.1
23                                 7.4%                                 7.6%
24                                92.6%                                92.4%

     : 1999 : : 12__2 : : 12__3 : 114.8   : 1998 : : 13__2 : : 13__3 : 156.3  \
0                               4,536.3                              4,021.8
1                               1,605.5                              1,565.5
2                               4,487.7                              4,571.2
3                               2,031.3                              2,379.0
4                                 555.2                                559.7
5                               2,269.6                              2,805.0
6                              15,600.4                             16,058.5
7                                   NaN                                  NaN
8                               8,859.4                              8,725.2
9                                 423.9                                485.8
10                             29,864.2                             30,878.4
11                              6,863.1                              5,584.5
12                             36,325.7                             30,278.3
13                              7,222.2                              8,318.3
14                                  2.3                                  2.6
15                              2,217.8                              2,032.9
16                                 68.0                                 73.3
17                              5,196.2                              5,809.5
18                              1,073.0                                889.5
19                                147.1                                168.4
20                             99,756.0                            110,924.4
21                            198,018.9                            204,171.0
22                            213,619.3                            220,229.4
23                                 7.3%                                 7.3%
24                                92.7%                                92.7%

     : 1997 : : 14__2 : : 14__3 : 176.8   : 1996 : : 15__2 : : 15__3 : 158.4  \
0                               3,261.9                              3,255.5
1                               1,639.4                              1,289.5
2                               4,060.9                              3,713.7
3                               2,667.4                              2,289.2
4                                 505.1                                479.4
5                               2,500.4                              2,223.5
6                              14,811.9                             13,409.2
7                                   NaN                                  NaN
8                               7,705.9                              8,198.5
9                                 392.1                                387.4
10                             28,819.3                             28,576.5
11                              6,542.2                              7,446.3
12                             24,338.1                             21,750.3
13                              8,509.4                              8,195.8
14                                  4.5                                  3.0
15                              1,349.8                              1,278.6
16                                106.6                                110.4
17                              4,733.5                              4,343.1
18                                611.3                                774.5
19                                167.8                                224.1
20                            109,369.5                             96,035.4
21                            192,649.9                            177,323.8
22                            207,461.8                            190,733.0
23                                 7.1%                                 7.0%
24                                92.9%                                93.0%

     : 1995 : : 16__2 : : 16__3 : 117.2   : 1994 : : 17__2 : : 17__3 : 145.8  \
0                               2,984.7                              3,138.4
1                               1,283.8                              1,063.9
2                               3,190.1                              3,092.5
3                               1,990.2                              1,604.9
4                                 419.9                                411.8
5                               2,245.4                              1,934.4
6                              12,231.5                             11,391.8
7                                   NaN                                  NaN
8                               5,725.1                              5,319.9
9                                 270.4                                283.2
10                             25,790.5                             24,733.3
11                              5,290.5                              5,318.0
12                             19,709.7                             18,493.3
13                              9,199.3                              7,485.1
14                                  3.9                                  4.1
15                              1,367.9                              1,588.5
16                                127.0                                 95.4
17                              4,001.6                              3,181.5
18                                747.9                                321.1
19                                127.5                                159.7
20                             92,789.2                             87,137.4
21                            165,150.5                            154,120.5
22                            177,382.0                            165,512.3
23                                 6.9%                                 6.9%
24                                93.1%                                93.1%

     : 1993 : : 18__2 : : 18__3 : 172.6   : 1992 : : 19__2 : : 19__3 : 138.7
0                               2,983.6                              2,825.7
1                                 968.5                              1,000.9
2                               3,293.7                              3,146.9
3                               1,680.2                              1,620.5
4                                 305.4                                398.5
5                               1,591.7                              1,495.7
6                              10,995.6                             10,626.8
7                                   NaN                                  NaN
8                               3,567.8                              4,174.8
9                                 256.4                                293.2
10                             20,535.1                             19,546.8
11                              3,359.5                              2,996.6
12                             18,668.0                             13,933.9
13                              7,225.2                              5,957.9
14                                  2.4                                  5.2
15                              1,539.9                              1,972.5
16                                 71.5                                 70.4
17                              3,103.9                              3,096.6
18                                542.1                                577.1
19                                 88.2                                 84.7
20                             83,666.7                             74,404.1
21                            142,626.5                            127,113.8
22                            153,622.1                            137,740.6
23                                 7.2%                                 7.7%
24                                92.8%                                92.3%
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/HISTORIC%20U%20S%20%20PORT%20RANKINGS%20through%202014.pdf_37.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18

                    : : 2__1 : : 2__2 : : 2__3 : Rank  \
0                                                 NaN
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                NaN
12                                                NaN
13                                                NaN
14  Source: Agência Nacional de Transportes Aquavi...

     : : 3__1 : : 3__2 : : 3__3 : : 3__4  \
0                              Commodity
1                               Iron Ore
2                    Containerized Cargo
3                               Soybeans
4                                  Sugar
5         Fuels, Mineral Oils & Products
6                           Soybean meal
7                         Steel Products
8                                   Corn
9                                Alumina
10                               Bauxite
11                             SUB-TOTAL
12                                 Other
13                     T O T A L EXPORTS
14                                   NaN

     : : 4__1 : : 4__2 : : 4__3 : : 4__4  \
0                                   2013
1                            321,907,582
2                             39,308,318
3                             43,096,028
4                             24,381,022
5                             13,498,717
6                             12,205,169
7                              7,063,555
8                             25,278,771
9                              7,126,123
10                             8,229,826
11                           502,095,111
12                            30,696,665
13                           532,791,776
14                                   NaN

     : : 5__1 : : 5__2 : EXPORTS : : 5__4  \
0                                    2012
1                             324,355,162
2                              36,908,521
3                              33,850,659
4                              22,114,868
5                              20,792,704
6                              12,109,273
7                               8,703,263
8                              21,148,224
9                               8,703,263
10                              8,703,263
11                            497,389,200
12                             28,042,365
13                            525,431,565
14                                    NaN

      : : 6__1 : : 6__2 : : 6__3 : : 6__4  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN

   BRAZILIAN SEABORNE FOREIGN TRADE  -  : TOP CARGOES : Metric Tons : : 7__3 : : 7__4  \
0                                 2011 2010 Commodity
1         320,880,845 305,909,053 Containerized Cargo
2   36,765,912 27,934,315 Fuels, Mineral oils & pr...
3                   35,508,919 33,250,257 Fertilizers
4                          22,557,634 24,419,564 Coal
5                20,802,549 21,152,414 Petroleum Coke
6                          11,121,437 9,209,580 Wheat
7   10,073,539 7,150,766 SulFur, soils, lime, plaster
8    9,175,367 10,614,181 Inorganic chemical Products
9                    7,289,991 6,337,264 Caustic Soda
10                          6,518,796 6,226,637 Steel
11                  480,694,989 452,204,031 SUB-TOTAL
12                        34,044,979 37,389,612 Other
13          514,739,968 489,593,643 T O T A L IMPORTS
14                                                NaN

     : : 8__1 : : 8__2 : : 8__3 : : 8__4  \
0                                   2013
1                             38,882,055
2                             39,055,648
3                             23,595,898
4                             15,973,147
5                              6,755,283
6                              6,590,106
7                              4,003,272
8                              2,885,791
9                              2,284,664
10                             2,308,011
11                           142,333,875
12                            10,718,047
13                           153,051,922
14                                   NaN

     : : 9__1 : : 9__2 : IMPORTS : : 9__4  \
0                                    2012
1                              34,260,967
2                              36,092,651
3                              20,777,436
4                              18,587,398
5                               5,869,589
6                               5,535,404
7                               3,998,491
8                               2,673,625
9                               2,914,505
10                              2,262,988
11                            132,973,054
12                             11,849,067
13                            144,822,121
14                                    NaN

      : : 10__1 : : 10__2 : : 10__3 : : 10__4  \
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
5                                         NaN
6                                         NaN
7                                         NaN
8                                         NaN
9                                         NaN
10                                        NaN
11                                        NaN
12                                        NaN
13                                        NaN
14                                        NaN

     : : 11__1 : : 11__2 : : 11__3 : : 11__4  \
0                                       2011
1                                 35,013,293
2                                 33,410,756
3                                 20,528,606
4                                 17,130,133
5                                  8,591,962
6                                  5,366,825
7                                  3,428,351
8                                  2,766,182
9                                  2,683,181
10                                 2,258,918
11                               131,178,207
12                                12,169,271
13                               143,347,478
14                                       NaN

     : : 12__1 : : 12__2 : : 12__3 : : 12__4
0                                       2010
1                                 31,836,582
2                                 32,661,028
3                                 16,181,378
4                                 15,276,819
5                                  6,866,364
6                                  4,915,671
7                                  2,828,944
8                                  2,572,125
9                                  2,147,414
10                                 3,322,210
11                               118,608,535
12                                 8,190,971
13                               126,799,506
14                                       NaN
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/US%20LATIN%20SEATRADE%20VALUES.pdf_3.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27

   : 2__0 : TOTAL TRADE : : 2__2 : $263 : $4,899  \
0                                         $3,218
1                                         $5,799
2                                         $5,997
3                                         $1,870
4                                         $3,672
5                                        $25,718
6                                            NaN
7                                         $6,810
8                                           $527
9                                        $30,445
10                                       $11,055
11                                       $15,010
12                                        $7,972
13                                           $10
14                                          $298
15                                          $402
16                                        $6,704
17                                          $419
18                                          $672
19                                       $34,636
20                                      $114,959
21                                      $140,677
22                                         18.3%
23                                         81.7%

   : 3__0 : : 3__1 : : 3__2 : $420 : $5,614  \
0                                    $4,008
1                                    $7,123
2                                    $8,069
3                                    $2,286
4                                    $4,277
5                                   $31,797
6                                       NaN
7                                   $10,548
8                                      $595
9                                   $43,582
10                                  $15,740
11                                  $18,714
12                                  $11,206
13                                      $10
14                                     $353
15                                     $595
16                                   $9,414
17                                     $457
18                                     $777
19                                  $60,861
20                                 $172,852
21                                 $204,649
22                                    15.5%
23                                    84.5%

   : 4__0 : : 4__1 : : 4__2 : $279 : $5,130  \
0                                    $3,655
1                                    $6,074
2                                    $7,580
3                                    $2,065
4                                    $3,150
5                                   $27,932
6                                       NaN
7                                    $7,826
8                                      $410
9                                   $33,666
10                                  $13,251
11                                  $13,196
12                                   $7,828
13                                      $11
14                                     $262
15                                     $355
16                                   $7,093
17                                     $371
18                                     $850
19                                  $47,508
20                                 $132,627
21                                 $160,559
22                                    17.4%
23                                    82.6%

   : 5__0 : : 5__1 : : 5__2 : $326 : $4,589  \
0                                    $3,340
1                                    $5,643
2                                    $6,780
3                                    $1,909
4                                    $2,320
5                                   $24,905
6                                       NaN
7                                    $6,665
8                                      $359
9                                   $31,756
10                                  $12,500
11                                  $11,772
12                                   $8,772
13                                      $10
14                                     $261
15                                     $277
16                                   $5,795
17                                     $372
18                                     $756
19                                  $43,753
20                                 $123,048
21                                 $147,953
22                                    16.8%
23                                    83.2%

   : 6__0 : : 6__1 : : 6__2 : $259 : $4,084  \
0                                    $3,275
1                                    $5,106
2                                    $6,432
3                                    $1,432
4                                    $1,774
5                                   $22,361
6                                       NaN
7                                    $6,742
8                                      $293
9                                   $27,427
10                                   $9,199
11                                  $10,612
12                                   $6,742
13                                       $5
14                                     $245
15                                     $414
16                                   $4,584
17                                     $366
18                                     $868
19                                  $38,334
20                                 $105,831
21                                 $128,192
22                                    17.4%
23                                    82.6%

   : 7__0 : : 7__1 : : 7__2 : $217 : $3,829  \
0                                    $3,209
1                                    $4,955
2                                    $6,157
3                                    $1,322
4                                    $1,437
5                                   $21,126
6                                       NaN
7                                    $5,400
8                                      $246
9                                   $23,213
10                                   $6,456
11                                   $8,354
12                                   $5,118
13                                       $5
14                                     $210
15                                     $371
16                                   $3,542
17                                     $278
18                                     $694
19                                  $27,875
20                                  $81,759
21                                 $102,885
22                                    20.5%
23                                    79.5%

   : 8__0 : : 8__1 : : 8__2 : $253 : $3,780  \
0                                    $3,292
1                                    $4,536
2                                    $5,683
3                                    $1,053
4                                    $1,393
5                                   $19,989
6                                       NaN
7                                    $4,345
8                                      $192
9                                   $18,707
10                                   $4,696
11                                   $7,025
12                                   $3,459
13                                       $9
14                                     $197
15                                     $357
16                                   $2,815
17                                     $289
18                                     $348
19                                  $18,982
20                                  $61,420
21                                  $81,409
22                                    24.6%
23                                    75.4%

   : 9__0 : : 9__1 : : 9__2 : $157 : $3,702  ...  \
0                                    $3,143  ...
1                                    $4,155  ...
2                                    $5,392  ...
3                                      $901  ...
4                                    $1,126  ...
5                                   $18,575  ...
6                                       NaN  ...
7                                    $3,694  ...
8                                      $191  ...
9                                   $17,122  ...
10                                   $4,731  ...
11                                   $6,507  ...
12                                   $3,099  ...
13                                      $15  ...
14                                     $205  ...
15                                     $153  ...
16                                   $2,449  ...
17                                     $227  ...
18                                     $218  ...
19                                  $18,366  ...
20                                  $56,976  ...
21                                  $75,552  ...
22                                    24.6%  ...
23                                    75.4%  ...

   : 11__0 : : 11__1 : : 11__2 : $235 : $3,645  \
0                                       $3,191
1                                       $3,811
2                                       $5,213
3                                         $786
4                                       $1,336
5                                      $18,217
6                                          NaN
7                                       $4,984
8                                         $230
9                                      $16,375
10                                      $4,489
11                                      $7,542
12                                      $2,750
13                                         $11
14                                        $262
15                                        $236
16                                      $2,495
17                                        $226
18                                        $408

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29
26                      30                 30
27                      31                 31
28                      32                 32

     : : 2__1 : : 2__2 : REGION/COUNTRY : : 2__4  \
0                                         AFRICA
1                                   North Africa
2                              Sub-Sahara Africa
3                                           ASIA
4                                          ASEAN
5                                          China
6                                          Japan
7                                    South Korea
8                                         Taiwan
9                                     South Asia
10                                   AUSTRALASIA
11                                     Australia
12                                     CARIBBEAN
13                                       Jamaica
14                               CENTRAL AMERICA
15                                     Guatemala
16                                        EUROPE
17                                European Union
18                                   FORMER USSR
19                                        Russia
20                                     NEAR EAST
21                                  Saudi Arabia
22                                 NORTH AMERICA
23                                        Canada
24                                        Mexico
25                                 SOUTH AMERICA
26                                        Brazil
27                                     Venezuela
28                               US GLOBAL TOTAL

     : : 3__1 : : 3__2 : : 3__3 : 2009  \
0                               23,505
1                               12,801
2                               10,704
3                              189,198
4                               29,962
5                               65,610
6                               40,505
7                               24,278
8                               12,587
9                               15,920
10                               4,231
11                               3,420
12                              17,371
13                               1,713
14                              18,850
15                               4,352
16                              77,660
17                              72,621
18                               2,638
19                               1,592
20                              23,543
21                               2,587
22                              46,534
23                              21,501
24                              25,033
25                              47,366
26                              16,929
27                               5,871
28                             451,822

   TABLE I: US SEABORNE TRADE BY WORLD REGION  -  : Metric Tons, 000s : EXPORTS IMPORTS : : 4__3 : 2008 Change 2009 2008 Change 2009  \
0         25,468 -7.7% 124,285 140,955 -11.8% 147,790
1            15,066 -15.0% 34,240 36,813 -7.0% 47,041
2           10,403 2.9% 90,045 104,142 -13.5% 100,749
3          172,477 9.7% 92,091 121,861 -24.4% 281,289
4             28,182 6.3% 18,937 21,525 -12.0% 48,899
5           46,827 40.1% 45,806 64,050 -28.5% 111,416
6            47,273 -14.3% 7,923 12,299 -35.6% 48,428
7             24,990 -2.9% 9,267 10,686 -13.3% 33,545
8              13,290 -5.3% 4,420 5,823 -24.1% 17,007
9              11,683 36.3% 5,359 7,220 -25.8% 21,279
10              4,766 -11.2% 4,817 6,577 -26.8% 9,048
11              3,971 -13.9% 3,789 5,247 -27.8% 7,209
12          20,026 -13.3% 32,714 38,087 -14.1% 50,084
13              3,279 -47.7% 4,245 6,306 -32.7% 5,958
14              17,525 7.6% 7,655 9,041 -15.3% 26,505
15               3,945 10.3% 3,116 3,555 -12.3% 7,468
16          96,632 -19.6% 63,791 70,689 -9.8% 141,452
17         89,147 -18.5% 56,403 70,561 -20.1% 129,024
18             3,814 -30.8% 43,190 42,450 1.7% 45,828
19            2,157 -26.2% 35,132 31,494 11.6% 36,725
20        28,399 -17.1% 94,605 125,342 -24.5% 118,148
21           3,082 -16.1% 52,659 76,082 -30.8% 55,246
22       63,726 -27.0% 125,237 147,162 -14.9% 171,771
23          39,727 -45.9% 55,023 64,463 -14.6% 76,524
24            23,999 4.3% 70,212 82,697 -15.1% 95,245
25        52,306 -9.4% 161,330 181,985 -11.3% 208,696
26           18,416 -8.1% 28,672 33,009 -13.1% 45,600
27           6,846 -14.2% 70,928 79,326 -10.6% 76,798
28     485,822 -7.0% 749,716 891,894 -15.9% 1,201,538

     : : 5__1 : TOTAL TRADE : : 5__3 : 2008  \
0                                   166,423
1                                    51,879
2                                   114,545
3                                   294,338
4                                    49,707
5                                   110,877
6                                    59,572
7                                    35,676
8                                    19,113
9                                    18,903
10                                   11,343
11                                    9,218
12                                   58,113
13                                    9,585
14                                   26,566
15                                    7,500
16                                  167,321
17                                  159,708
18                                   46,264
19                                   33,651
20                                  153,741
21                                   79,164
22                                  210,888
23                                  104,190
24                                  106,696
25                                  234,291
26                                   51,425
27                                   86,172
28                                1,377,716

     : : 6__1 : : 6__2 : : 6__3 : Change
0                                 -11.2%
1                                  -9.3%
2                                 -12.0%
3                                  -4.4%
4                                  -1.6%
5                                   0.5%
6                                 -18.7%
7                                  -6.0%
8                                 -11.0%
9                                  12.6%
10                                -20.2%
11                                -21.8%
12                                -13.8%
13                                -37.8%
14                                 -0.2%
15                                 -0.4%
16                                -15.5%
17                                -19.2%
18                                 -0.9%
19                                  9.1%
20                                -23.2%
21                                -30.2%
22                                -18.5%
23                                -26.6%
24                                -10.7%
25                                -10.9%
26                                -11.3%
27                                -10.9%
28                                -12.8%
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/U%2ES%2E%20SEATRADE%20WITH%20CENTRAL%20AND%20SOUTH%20AMERICA%202000%20%2D%202010.pdf_1.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29

     : : 2__1 : REGION/COUNTRY : : 2__3 : CENTRAL AMERICA  \
0                                              Belize
1                                          Costa Rica
2                                         El Salvador
3                                           Guatemala
4                                            Honduras
5                                           Nicaragua
6                                              Panama
7                           SUB-TOTAL CENTRAL AMERICA
8                                       SOUTH AMERICA
9                                           Argentina
10                                            Bolivia
11                                             Brazil
12                                              Chile
13                                           Colombia
14                                            Ecuador
15                                      French Guiana
16                                             Guyana
17                                           Paraguay
18                                               Peru
19                                           Suriname
20                                            Uruguay
21                                          Venezuela
22                            SUB-TOTAL SOUTH AMERICA
23                                        GRAND TOTAL
24                                  % Central America
25                                    % South America

     : : 3__1 : 2010 : EXPORTS : : 3__4   : : 4__1 : 2009 : : 4__3 : : 4__4  \
0                                 201.2                               207.5
1                               3,956.4                             3,844.0
2                               2,108.2                             1,901.4
3                               4,587.0                             4,351.7
4                               3,970.3                             3,142.8
5                                 765.2                               600.3
6                               6,078.6                             4,802.3
7                              21,666.9                            18,849.9
8                                   NaN                                 NaN
9                               3,062.2                             2,781.2
10                                 57.1                                46.9
11                             23,735.4                            16,928.5
12                              7,860.2                             6,868.5
13                              7,859.3                             6,821.7
14                              5,039.3                             3,591.2
15                                  4.7                                 4.3
16                                124.8                               110.0
17                                172.8                                50.5
18                              5,158.9                             3,646.6
19                                379.3                               426.5
20                                225.5                               218.8
21                              6,148.5                             5,870.7
22                             59,827.9                            47,365.5
23                             81,494.8                            66,215.3
24                                26.6%                               28.5%
25                                73.4%                               71.5%

     : : 5__1 : 2008 : : 5__3 : : 5__4   : : 6__1 : 2007 : : 6__3 : : 6__4  \
0                                182.9                               131.0
1                              3,230.6                             2,767.8
2                              1,934.9                             1,895.2
3                              3,945.1                             4,144.0
4                              3,307.5                             3,499.0
5                                746.4                               813.8
6                              4,177.1                             4,058.7
7                             17,524.5                            17,309.5
8                                  NaN                                 NaN
9                              2,978.1                             2,159.2
10                                73.4                                68.5
11                            18,415.8                            14,491.7
12                             8,512.2                             6,232.9
13                             8,468.2                             7,602.0
14                             2,367.4                             2,708.6
15                                 4.7                                 3.5
16                               109.2                               101.5
17                               102.1                                46.3
18                             3,720.9                             2,942.8
19                               441.1                               530.2
20                               266.5                               117.9
21                             6,846.2                             5,114.1
22                            52,305.8                            42,119.2
23                            69,830.3                            59,428.7
24                               25.1%                               29.1%
25                               74.9%                               70.9%

     : : 7__1 : 2006 : : 7__3 : : 7__4   : : 8__1 : 2005 : : 8__3 : : 8__4  \
0                                156.5                               171.7
1                              2,424.5                             2,514.8
2                              1,958.4                             1,570.0
3                              4,146.7                             3,122.3
4                              2,803.1                             2,395.5
5                                781.4                               682.7
6                              3,395.2                             2,980.9
7                             15,665.8                            13,437.9
8                                  NaN                                 NaN
9                              1,913.0                             1,632.9
10                                59.5                                58.9
11                            10,850.7                             9,737.1
12                             4,352.6                             3,728.3
13                             6,719.9                             5,877.8
14                             2,770.6                             1,819.7
15                                 2.3                                 1.5
16                               101.1                                73.6
17                                28.7                                92.3
18                             1,851.0                             1,884.3
19                               469.2                               485.3
20                               134.0                                84.6
21                             4,809.3                             3,953.3
22                            34,061.9                            29,429.6
23                            49,727.7                            42,867.5
24                               31.5%                               31.3%
25                               68.5%                               68.7%

     : : 9__1 : 2004 : : 9__3 : : 9__4   : : 10__1 : 2003 : : 10__3 : : 10__4  \
0                                106.0                                  194.1
1                              2,308.7                                2,279.4
2                              1,606.7                                1,730.2
3                              2,975.2                                2,985.7
4                              2,445.7                                2,481.1
5                                537.4                                  571.8
6                              2,933.4                                3,346.1
7                             12,913.2                               13,588.4
8                                  NaN                                    NaN
9                              1,547.6                                1,210.5
10                               109.9                                  139.0
11                             9,686.7                                9,239.8
12                             2,770.1                                1,835.2
13                             4,820.3                                4,506.2
14                             1,721.0                                1,286.5
15                                 1.5                                    2.3
16                                99.2                                   78.0
17                                32.9                                   22.0
18                             2,633.6                                1,706.2
19                               494.2                                  498.1
20                               107.3                                  115.1
21                             3,597.8                                3,520.1
22                            27,622.0                               24,159.1
23                            40,535.2                               37,747.5
24                               31.9%                                  36.0%
25                               68.1%                                  64.0%

     : : 11__1 : 2002 : : 11__3 : : 11__4  \
0                                    83.7
1                                 2,059.0
2                                 1,481.8
3                                 2,542.3
4                                 1,663.1
5                                   462.5
6                                 1,944.2
7                                10,236.5
8                                     NaN
9                                   964.5
10                                   99.9
11                                8,593.2
12                                1,357.1

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29

    BRAZIL PORT RANKINGS  BY CARGO TYPE : : 2__1 : : 2__2 : 1.0 : 2.0  \
0                                                 3.0
1                                                 4.0
2                                                 5.0
3                                                 6.0
4                                                 7.0
5                                                 8.0
6                                                 9.0
7                                                10.0
8                                                11.0
9                                                12.0
10                                               13.0
11                                               14.0
12                                               15.0
13                                               16.0
14                                               17.0
15                                               18.0
16                                               19.0
17                                               20.0
18                                               21.0
19                                               22.0
20                                               23.0
21                                               24.0
22                                               25.0
23                                                NaN
24                                                NaN
25                                                NaN

     : DRY BULK : PORT : TUP CVRD TUBARÃO : TUP PONTA DA MADEIRA  \
0                                             ITAGUAÍ
1                                              SANTOS
2                                             TUP MBR
3                                           PARANAGUÁ
4                                    TUP PONTA DE UBU
5                                 TUP PORTO TROMBETAS
6                                          TUP ALUMAR
7                                       VILA DO CONDE
8                                 TUP CVRD PRAIA MOLE
9                                              ITAQUI
10                                         RIO GRANDE
11                               SAO FRANCISCO DO SUL
12           TUP TERMINAL DE MINÉRIOE METÁLICOS AMAPÁ
13                             TUP HERMASA GRANELEIRO
14                                      TUP BIANCHINI
15                                          TUP OMNIA
16                                       TUP USIMINAS
17                       TUP TERMINAL PORTUÁRIO TKCSA
18                                           SANTARÉM
19                                       TUP COTEGIPE
20                                        PORTO VELHO
21                                    TUP ULTRAFÉRTIL
22                      TUP YARA BRASIL FERTILIZANTES
23                                             Top 25
24                                              Other
25                                     TOTAL DRY BULK

     : LIQUID BULK : METRIC TONS : 109,505,815 : 105,033,621  \
0                                          52,795,310
1                                          43,949,695
2                                          39,818,902
3                                          29,874,837
4                                          23,385,128
5                                          16,391,516
6                                          11,996,074
7                                          11,814,441
8                                          10,088,117
9                                           7,896,585
10                                          7,117,292
11                                          7,011,807
12                                          6,463,087
13                                          4,947,193
14                                          4,794,471
15                                          4,352,467
16                                          4,332,827
17                                          3,427,849
18                                          3,207,210
19                                          3,205,036
20                                          2,797,578
21                                          2,244,128
22                                          2,054,392
23                                        518,505,378
24                                         35,722,785
25                                        554,228,163

     : BREAKBULK : PORT : TUP ALMIRANTE BARROSO : TUP ALMIRANTE MAXIMIANO FONSECA  \
0                                   TUP MADRE DE DEUS
1              TUP ALMIRANTE TAMANDARÉ (ILHA D ́ÁGUA)
2                                              SANTOS
3                          TUP ALMIRANTE SOARES DUTRA
4                            TUP SÃO FRANCISCO DO SUL
5                                              ITAQUI
6                                          TUP MANAUS
7                                               SUAPE
8                                               ARATU
9                                           PARANAGUÁ
10                                        TUP GUAMARÉ
11                                         RIO GRANDE
12                                     TUP CARMÓPOLIS
13                    TUP DE GNL DA BAÍA DE GUANABARA
14                                          FORTALEZA
15                                       TUP SOLIMÕES
16                                              BELÉM
17                                      VILA DO CONDE
18                                      TUP CATTALINI
19                                TUP BRASKEM ALAGOAS
20                                 TUP NORTE CAPIXABA
21                                             MACEIÓ
22                                   TUP CVRD TUBARÃO
23                                             Top 25
24                                              Other
25                                  TOTAL LIQUID BULK

     : CONTAINERIZED : METRIC TONS : 50,541,216 : 36,610,276  \
0                                          21,658,012
1                                          13,088,518
2                                          12,206,577
3                                          11,060,986
4                                          10,274,072
5                                           7,554,711
6                                           6,581,433
7                                           5,647,906
8                                           4,114,467
9                                           3,120,028
10                                          2,848,890
11                                          2,840,122
12                                          2,744,668
13                                          2,264,523
14                                          2,235,790
15                                          2,088,133
16                                          2,062,534
17                                          2,021,927
18                                          1,562,447
19                                          1,020,067
20                                            913,034
21                                            907,713
22                                            828,708
23                                        206,796,758
24                                         10,356,299
25                                        217,153,057

     : TOTAL TONS : PORT : TUP PORTOCEL : TUP PRAIA MOLE  \
0                        TUP TERMINAL PORTUÁRIO TKCSA
1                                              SANTOS
2                                SAO FRANCISCO DO SUL
3                                          TUP FIBRIA
4                                        TUP USIMINAS
5                                             VITÓRIA
6                            TUP MARÍTIMO DE BELMONTE
7                                 TUP BERTOLINI BELÉM
8                                       VILA DO CONDE
9                           TUP J.F DE OLIVEIRA BELÉM
10                                         RIO GRANDE
11                                     TUP CHIBATÃO 2
12              TUP TERMINAL MARÍTIMO  INÁCIO BARBOSA
13                                          PARANAGUÁ
14                                          TUP PECÉM
15                                  TUP IBEPAR MANAUS
16                                     RIO DE JANEIRO
17                                    TUP SANTA CLARA
18                        TUP T.M. BARCAÇAS OCEÂNICAS
19                          TUP J. F. OLIVEIRA MANAUS
20                                        PORTO VELHO
21                                 TUP ARACRUZ GUAÍBA
22                                       TUP PASSARÃO
23                                             Top 25
24                                              Other
25                                    TOTAL BREAKBULK

     : : 8__1 : METRIC TONS : 9,027,901 : 5,200,433  \
0                                         3,424,121
1                                         3,309,254
2                                         2,411,912
3                                         2,179,533
4                                         1,394,698
5                                         1,164,674
6                                         1,119,160
7                                         1,055,306
8                                           964,047
9                                           949,147
10                                          944,814
11                                          883,085
12                                          878,716
13                                          874,145
14                                          836,413
15                                          810,802
16                                          777,671
17                                          581,234
18                                          553,397
19                                          475,140
20                                          470,335
21                                          323,500
22                                          286,721
23                                       40,896,159
24                                        4,212,644
25                                       45,108,803

     : : 9__1 : PORT : SANTOS : PARANAGUÁ  \
0                              RIO GRANDE
1                           TUP PORTONAVE
2                          RIO DE JANEIRO
3                                   SUAPE
4                                 ITAGUAÍ
5                                  ITAJAÍ
6                                 VITÓRIA
7                        TUP PORTO ITAPOÁ
8                            TUP CHIBATÃO
9                                SALVADOR
10                    TUP SUPER TERMINAIS
11                              TUP PECÉM
12                   SAO FRANCISCO DO SUL
13                              FORTALEZA
14                          VILA DO CONDE
15                               IMBITUBA
16                                  NATAL
17                                  BELÉM
18                                 ITAQUI
19                               SANTARÉM
20                                 RECIFE
21                          SÃO SEBASTIÃO
22                            PORTO VELHO
23                                 Top 25
24                                  Other
25                    TOTAL CONTAINERIZED

     : : 10__1 : METRIC TONS : 31,271,803 : 6,572,802  \
0                                           6,170,583
1                                           5,920,600
2                                           5,649,619
3                                           4,545,650
4                                           4,155,726
5                                           3,913,188
6                                           3,168,454
7                                           3,131,798
8                                           2,996,859
9                                           2,812,603
10                                          2,025,025
11                                          1,614,036
12                                          1,352,785
13                                            707,034
14                                            347,527
15                                            263,025
16                                            250,960
17                                            224,309
18                                             90,465
19                                             43,692
20                                             36,536
21                                              4,688
22                                              2,823
23                                         87,272,590
24                                              2,861
25                                         87,275,451

     : : 11__1 : PORT : TUP CVRD TUBARÃO : TUP PONTA DA MADEIRA  \
0                                              SANTOS
1                                             ITAGUAÍ
2                               TUP ALMIRANTE BARROSO
3                                           PARANAGUÁ
4                                             TUP MBR
5                     TUP ALMIRANTE MAXIMIANO FONSECA
6                                    TUP PONTA DE UBU
7                                   TUP MADRE DE DEUS
8                                          RIO GRANDE
9                                 TUP PORTO TROMBETAS
10                                             ITAQUI
11                                      VILA DO CONDE
12             TUP ALMIRANTE TAMANDARÉ (ILHA D ́ÁGUA)
13                                         TUP ALUMAR
14                         TUP ALMIRANTE SOARES DUTRA
15                                         SUAPE+M676
16                               SAO FRANCISCO DO SUL
17                           TUP SÃO FRANCISCO DO SUL
18                                TUP CVRD PRAIA MOLE
19                                       TUP PORTOCEL
20                                     RIO DE JANEIRO
21                       TUP TERMINAL PORTUÁRIO TKCSA
22                                            VITÓRIA
23                                             Top 25
24                                              Other
25                                        TOTAL CARGO

     : : 12__1 : METRIC TONS : 110,334,523 : 105,033,621
0                                          90,737,329
1                                          57,081,602
2                                          50,541,216
3                                          40,441,812
4                                          39,818,902
5                                          37,041,162
6                                          23,512,589
7                                          21,658,012
8                                          17,072,811
9                                          16,391,516
10                                         15,700,099
11                                         15,147,942
12                                         13,718,404
13                                         12,774,232
14                                         11,060,986
15                                         10,997,685
16                                         10,934,504
17                                         10,274,072
18                                         10,088,117
19                                          9,027,901
20                                          7,758,349
21                                          6,851,970
22                                          6,831,570
23                                        750,830,926
24                                        152,934,548
25                                        903,765,474
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/HISTORIC%20U%20S%20%20PORT%20RANKINGS%20through%202014.pdf_17.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22
19                      23                 23
20                      24                 24
21                      25                 25
22                      26                 26
23                      27                 27
24                      28                 28
25                      29                 29
26                      30                 30
27                      31                 31
28                      32                 32
29                      33                 33
30                      34                 34
31                      35                 35
32                      36                 36
33                      37                 37
34                      38                 38
35                      39                 39
36                      40                 40
37                      41                 41
38                      42                 42
39                      43                 43
40                      44                 44
41                      45                 45
42                      46                 46
43                      47                 47
44                      48                 48
45                      49                 49
46                      50                 50

     : : 2__1 : : 2__2 : PORT : South Louisiana, LA  \
0                                       Houston, TX
1                               New York/New Jersey
2                                      Beaumont, TX
3                                   New Orleans, LA
4                                    Huntington, WV
5                                Corpus Christi, TX
6                                    Long Beach, CA
7                                   Baton Rouge, LA
8                                   Plaquemines, LA
9                                    Texas City, TX
10                                  Los Angeles, CA

/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/Brazil%20Ports%202013%20Ranked%20by%20Cargo%20Volume.pdf_1.csv
    : 0__0 : 0 : 1 : 2 : 3    : 0 : 1 : 2 : 3  \
0                        4                  4
1                        5                  5
2                        6                  6
3                        7                  7
4                        8                  8
5                        9                  9
6                       10                 10
7                       11                 11
8                       12                 12
9                       13                 13
10                      14                 14
11                      15                 15
12                      16                 16
13                      17                 17
14                      18                 18
15                      19                 19
16                      20                 20
17                      21                 21
18                      22                 22

                    : : 2__1 : : 2__2 : Rank : : 2__4  \
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                 11
11                                                 12
12                                                 13
13                                                 14
14                                                 15
15                                                NaN
16                                                NaN
17                                                NaN
18  TUP – Private Use Terminal (Terminal Usado Pri...

     : : 3__1 : : 3__2 : : 3__3 : PORT   : : 4__1 : DRY BULK : : 4__3 : TONS  \
0                     TUP CVRD Tubarão                               109,693
1                 TUP Ponta da Madeira                               107,328
2                              Itaguaí                                53,824
3                               Santos                                49,383
4                              TUP MBR                                39,758
5                            Paranaguá                                30,290
6                     TUP Ponta de Ubu                                22,595
7                  TUP Porto Trombetas                                17,482
8                           TUP Alumar                                11,995
9                        Vila do Conde                                11,348
10                 TUP CVRD Praia Mole                                 9,576
11                          Rio Grande                                 9,576
12                São Francisco do Sul                                 9,352
13                              Itaqui                                 8,077
14                 TUP  Aracruz Guaíba                                 6,180
15                              Top 15                               496,458
16                               Other                                72,650
17                      Total Dry Bulk                               569,107
18                                 NaN                                   NaN

         : : 5__1 : : 5__2 : : 5__3 : PORT  \
0                    TUP Almirante Barroso
1          TUP Almirante Maximiano Fonseca
2                        TUP Madre de Deus
3   TUP Almirante Tamandaré (Ilha D ́Água)
4               TUP Almirante Soares Dutra
5                                   Santos
6                 TUP São Francisco do Sul
7                                    Suape
8                                   Itaqui
9                               TUP Manaus
10                                   Aratu
11                              Rio Grande
12                             Tup Guamaré
13        TUP de GNL da  Baía de Guanabara
14                               Paranaguá
15                                  Top 15
16                                   Other
17                       TOTAL LIQUID BULK
18                                     NaN

      : : 6__1 : : 6__2 : : 6__3 : : 6__4  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN

      : : 7__1 : LIQUID BULK : : 7__3 : : 7__4  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
5                                          NaN
6                                          NaN
7                                          NaN
8                                          NaN
9                                          NaN
10                                         NaN
11                                         NaN
12                                         NaN
13                                         NaN
14                                         NaN
15                                         NaN
16                                         NaN
17                                         NaN
18                                         NaN

   BRAZIL PORT RANKINGS   BY CARGO TYPE : Metric Tons, 000s : BREAKBULK : : 8__3 : TONS  PORT  TONS  \
0                    52,808 TUP Portocel 8,585 Santos
1               25,797 TUP Praia Mole 4,734 Paranaguá
2                   22,698 Santos 4,259 TUP Portonave
3   15,154 TUP Terminal Portuário TKCSA  3,351 Rio...
4   14,633 São Francisco do Sul  2,797 TUP Porto I...
5          12,389 Rio De Janeiro 1,825 Rio de Janeiro
6                       10,360 TUP Fibria 1,606 Suape
7        7,332 TUP Marítimo de Belmonte 1,048 Itaguaí
8             6,993 TUP Bertolini Belém 1,033  Itajaí
9                  5,297 TUP Pecém 1,003 TUP Chibatão
10       4,218 TUP J.F de Oliveira Belém 960 Salvador
11                        3,792 Paranaguá 945 VITÓRIA
12      3,096 TUP Chibatão 2  814 TUP Super Terminais
13          3,065 TUP Ibepar Manaus 788 TUP Embraport
14                2,775 TUP Santa Clara 779 TUP Pecém
15                       190,408 Top 15 34,527 Top 15
16                           29,523 Other 9,461 Other
17  219,931 TOTAL BREAKBULK 43,988 TOTAL CONTAINER...
18  Source: Agência Nacional de Transportes Aquavi...

      : : 9__1 : CONTAINERIZED : : 9__3 : PORT  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
5                                          NaN
6                                          NaN
7                                          NaN
8                                          NaN
9                                          NaN
10                                         NaN
11                                         NaN
12                                         NaN
13                                         NaN
14                                         NaN
15                                         NaN
16                                         NaN
17                                         NaN
18                                         NaN

     : : 10__1 : : 10__2 : : 10__3 : TONS  \
0                                  33,777
1                                   7,902
2                                   7,569
3                                   6,427
4                                   5,646
5                                   5,522
6                                   4,482
7                                   4,450
8                                   4,109
9                                   3,327
10                                  3,264
11                                  2,270
12                                  2,221
13                                  2,050
14                                  1,701
15                                 94,719
16                                  3,300
17                                 98,019
18                                    NaN

     : : 11__1 : TOTAL TONS : : 11__3 : PORT  \
0                           TUP CVRD Tubarão
1                       TUP Ponta Da Madeira
2                                     Santos
3                                    Itaguaí
4                      TUP Almirante Barroso
5                                  Paranaguá
6                                    TUP MBR
7            TUP Almirante Maximiano Fonseca
8                          TUP Madre de Deus
9                           TUP Ponta De Ubu
10                                Rio Grande
11                       TUP Porto Trombetas
12                                    Itaqui
13    TUP Almirante Tamandaré (Ilha D ́Água)
14                TUP Almirante Soares Dutra
15                                    Top 15
16                                     Other
17                               TOTAL CARGO
18                                       NaN

      : : 12__1 : : 12__2 : : 12__3 : : 12__4  \
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
5                                         NaN
6                                         NaN
7                                         NaN
8                                         NaN
9                                         NaN
10                                        NaN
11                                        NaN
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN
17                                        NaN
18                                        NaN

     : : 13__1 : : 13__2 : : 13__3 : TONS
0                                 110,480
1                                 107,328
2                                  99,808
3                                  58,328
4                                  52,808
5                                  41,912
6                                  39,758
7                                  25,797
8                                  22,698
9                                  22,683
10                                 20,535
11                                 17,482
12                                 15,292
13                                 15,154
14                                 14,633
15                                664,697
16                                266,348
17                                931,045
18                                    NaN
/Users/latherialcalbert/Documents/portResearch/aappa_port_csv/factcard15.pdf_3.csv
    : 0__0 : 0 : 1 : 2 : 3                                    : 0 : 1 : 2 : 3  \
0                        4                                                  4
1                        5                                                  5
2                        6                                                  6
3                        7                                                  7
4                        8                                                  8
5                        9                                                  9
6                       10                                                 10
7                       11                                                 11
8                       12                                                 12
9                       13                                                 13
10                      14                                                 14
11                      15                                                 15
12                      16                                                 16
13                      17                                                 17
14                      18                                                 18
15                      19                                                 19
16                      20                                                 20
17                      21                                                 21
18                      22                                                 22
19                      23                                                 23
20                      24                                                 24
21                      25                                                 25
22                      26  (ECLAC); Agência Nacional de Transportes Aquav...
23                      27  Autoridad Maritima de Panama; various port aut...

      : : 2__1 : : 2__2 : : 2__3 : : 2__4  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN
19                                    NaN
20                                    NaN
21                                    NaN
22                                    NaN
23                                    NaN

   Balboa : Colon : Cristobal : PSA - Panama Int'l Terminal : PERU  \
0                                               Arica
1                                              Callao
2                                            Chimbote
3                                                 Ilo
4                                             Iquitos
5                                               Paita
6                                               Placo
7                                  General San Martin
8                                            Matarani
9                                           Salaverry
10                                         Yurimaguas
11                                           SURINAME
12                          Nieuwe Haven (Paramaribo)
13                                            URUGUAY
14                                         Montevideo
15                                          VENEZUELA
16                                             Guanta
17                                        El Guamache
18                                          La Guaira
19                                          Maracaibo
20                                     Puerto Cabello
21  Sources: Economic Commission for Latin America...
22                                                NaN
23                                                NaN

      : : 4__1 : : 4__2 : : 4__3 : : 4__4  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN
19                                    NaN
20                                    NaN
21                                    NaN
22                                    NaN
23                                    NaN

   : 5__0 : 2,764,644 : 812,783 : 216,012 : : 5__4  \
0                                            1,371
1                                        1,900,444
2                                                0
3                                           21,051
4                                              714
5                                          214,483
6                                            2,022
7                                                0
8                                           20,002
9                                                0
10                                               6
11                                             NaN
12                                         106,014
13                                             NaN
14                                         811,297
15                                             NaN
16                                          28,169
17                                          12,917
18                                         208,484
19                                          46,371
20                                         438,244
21                                             NaN
22                                             NaN
23                                             NaN

      : : 6__1 : : 6__2 : : 6__3 : : 6__4  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN
19                                    NaN
20                                    NaN
21                                    NaN
22                                    NaN
23                                    NaN

   : 7__0 : 2,564,102 : 712,688 : 231,928 : : 7__4  \
0                                            1,274
1                                        1,992,473
2                                                0

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10637/83631575.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

In [ ]:
df_append.shape

In [ ]:
df_append

In [ ]:
df_copy = df_append.dropna(how = 'all', axis = 1)
df_copy.shape

In [ ]:
df_copy

In [ ]:
df_copy.columns

In [ ]:
df_copy1 = df_copy

In [ ]:
perc = 80
min_count =  int(((100-perc)/100)*df_copy1.shape[0] + 1)
mod_df = df_copy1.dropna( axis=1, 
                thresh=min_count)

In [ ]:
mod_df.shape

In [ ]:
mod_df.columns

In [ ]:
mod_df

In [ ]:
for column in df_append:
    df_append = df_append[df_append[column].notna()]
df_append

In [ ]:
cols = [c for c in df_append.columns if c.lower()[:4] != 1 or c.lower()[:4] != '0'or c.lower()[:4] != '2'or c.lower()[:4] != '3'or c.lower()[:4] != '4' or c.lower()[:4] != '5'or c.lower()[:4] != '6'or c.lower()[:4] != '7'or c.lower()[:4] != '8'or c.lower()[:4] != '9']

df1=df_append[cols]
df1.shape

In [ ]:
df_append = df_copy
df_append

In [ ]:
df_append.dropna(how='all')

In [ ]:
df_append.
df_copy =  df_append = df_append.loc[:, df_append.isnull().sum() < 0.8*df_append.shape[0]]
df_copy

In [ ]:
df_append

In [ ]:
percent_missing = mod_df.isnull().sum() * 100 / len(mod_df)
missing_value_df = pd.DataFrame({'column_name': mod_df.columns,
                                 'percent_missing': percent_missing})

In [ ]:
missing_value_df.sort_values('percent_missing', inplace=True)

In [ ]:
missing_value_df.mean()

In [ ]:
missing_value_df

In [ ]:
missing_value_df['percent_missing'].mode()

In [ ]:
df_append.notnull().sum().sum()

In [ ]:
df_append.columns

In [ ]:
df_append.iloc[[4]]

In [ ]:
with pd.option_context('display.max_rows', 600, 'display.max_columns', 600):  # more options can be specified also
    print(missing_value_df)

In [ ]:
df1.isnull().any