In [ ]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
#data = pd.read_csv("file1.csv", error_bad_lines=False)
# loop over the list of csv files
# for f in csv_files:
#     if(f.shape[1] >

#get rid of rows with unnamed, get rid of empty columns, get rid of rows that are empty

df_append = pd.DataFrame()
#append all files together
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    #drops all empty columns
    df_temp = df_temp.dropna(how = 'any', axis = 0)
    df_temp = df_temp[df_temp.columns.drop(list(df_temp.filter(regex='Unnamed')))]
    df_temp.reset_index(drop=True, inplace=True)
    print(df_temp)
# un comment the below
    #df_append=df_append.join(df_temp, lsuffix="_left", rsuffix="_right", how='outer')
  #df_append = df_append.join(df_temp, how='outer')

#df_append
        #limits number of columns to 10 or more
    
#         df_append = df_append.append(df_temp, ignore_index=True)
# df_append

# df_concat = pd.concat([pd.read_csv(f,error_bad_lines=False) for f in csv_files ], ignore_index=True)
# df_concat


# for f in csv_files:
      
#     # read the csv file
#     df = pd.read_csv(f,error_bad_lines=False)
      
#     # print the location and filename
#     print('Location:', f)
#     print('File Name:', f.split("\\")[-1])
      
#     # print the content
#     print('Content:')
#     display(df)
#     print()

In [1]:
import pandas as pd
import os
import glob

path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
print(len(csv_files))

14

In [ ]:
#deletes all files with less than or equal to 10 rows and less than
#or equal to 5 columns
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    if(df_temp.shape[0] == 0 | df_temp.shape[1] == 0):
        os.remove(file)
#result went from 496 files to 296

In [ ]:
#deletes all files with less than or equal to 10 rows and less than
#or equal to 5 columns
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    if(df_temp.empty):
        os.remove(file)
#result went from 496 files to 296

In [ ]:
for file in csv_files:
    if("veteran" in file):
        os.remove(file)
#number of files went to 242

In [ ]:
for file in csv_files:
    if("tariff" in file):
        os.remove(file)
#number of files went to 116

In [ ]:
for file in csv_files:
    if("truck" in file):
        os.remove(file)
#number of files went to 60

In [ ]:
for file in csv_files:
    if("11805" in file):
        os.remove(file)
#number of files went to 49

In [ ]:
#deletes all files with less than or equal to 10 rows and less than
#or equal to 5 columns
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    if(len(df_temp.axes[0]) <= 10 or (len(df_temp.axes[1]) <= 5) ):
        os.remove(file)
#result went to 14

In [2]:
for file in csv_files:
    bool = False
    df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
    print(file)
    if()

/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-13-mo-history.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-detailed-history.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl029-key-volumes-actual.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/charlestonintermodalrailschedule.pdf_3.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/charlestonintermodalrailschedule.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl078-pc-teu-history.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl078-pc-teu-history.pdf_3.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/charlestonintermodalrailschedule.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl029b-cytd-key-volumes-actual.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-history.pdf_1.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl078-pc-teu-history.pdf_2.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/charlestonintermodalrailschedule.pdf_4.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/oceancarrierprofile.pdf_3.csv
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/oceancarrierprofile.pdf_2.csv

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_2827/2409707232.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)

In [3]:
for file in csv_files:
    bool = False
    df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
    print(file)
    for col in df_temp.columns:
        if( ("1" or "2" or "3" or"4" or"5" or "6" or "7"  or "8" or "9" or"0") in  col):
            bool = True
    
    if(bool):
    #print(df_temp)
    
#     input_string = input('Enter elements of a list separated by space ')
#     print("\n")
#     user_list = input_string.split()
#     # print list
#     print('list: ', user_list)

#     # convert each item to int type
#     for i in range(len(user_list)):
#         # convert each item to int type
#         user_list[i] = int(user_list[i])
    
        df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
    #print(os.path.basename(os.path.normpath(file)))
        file_name = os.path.basename(os.path.normpath(file))
       # df_temp.columns = df_temp.columns.map(' : '.join)
#         df_temp.columns = df_temp.columns.str.replace('level', '')
#         df_temp.columns = df_temp.columns.str.replace('Unnamed :', '')
#         df_temp.columns = df_temp.columns.str.replace('Unnamed', '')
#         for col in df_temp.columns:
#             if( "201" in  col == False):
#                 df_temp.columns = df_temp.columns.str.replace('1', '')
#                 df_temp.columns = df_temp.columns.str.replace('0', '')
#                 df_temp.columns = df_temp.columns.str.replace('2', '')
#                 df_temp.columns = df_temp.columns.str.replace('3', '')
#                 df_temp.columns = df_temp.columns.str.replace('4', '')
#                 df_temp.columns = df_temp.columns.str.replace('5', '')
#                 df_temp.columns = df_temp.columns.str.replace('6', '')
#                 df_temp.columns = df_temp.columns.str.replace('7', '')
#                 df_temp.columns = df_temp.columns.str.replace('8', '')
#                 df_temp.columns = df_temp.columns.str.replace('9', '')
#                 df_temp.columns = df_temp.columns.str.replace(',,', '')
#                 df_temp.columns = df_temp.columns.str.replace('.', '')
#                 df_temp.columns = df_temp.columns.str.replace(',', '') 
#                 df_temp.columns = df_temp.columns.str.replace(':', '') 
#                 df_temp.columns = df_temp.columns.str.replace('_', '') 
        print(df_temp)

    #print(df_temp.iloc[0])
    #df_temp.columns = df_temp.iloc[0]+df_temp.iloc[1]+df_temp.iloc[2]   # set the columns to the values in the first row
    #df_temp = df_temp.iloc[1:]          # reassign df to all rows but the first
    #print(df_temp)
    #df_temp.to_csv(file_name)

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False , skip_blank_lines=True)

/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-13-mo-history.pdf_1.csv
   Unnamed: 0_level_0                                                   \
                    0   0                   280K    Unnamed: 4_level_1
                    1   1     Unnamed: 3_level_2    Unnamed: 4_level_2
                    2   2                   260K    Unnamed: 4_level_3
                    3   3 3.1 Unnamed: 3_level_4    Unnamed: 4_level_4
0                   4   4   4                NaN                   NaN
1                   5   5   5                NaN                   NaN
2                   6   6   6               240K               234,688
3                   7   7   7                NaN                   NaN
4                   8   8   8                NaN                   NaN
5                   9   9   9               220K  LOADED, EXPORT21.77%
6                  10  10  10                NaN                   NaN
7                  11  11  11                NaN                51,084
8                  12  12  12               200K                   NaN
9                  13  13  13                NaN                   NaN
10                 14  14  14                NaN                   NaN
11                 15  15  15         60,020180K                   NaN
12                 16  16  16                NaN                   NaN
13                 17  17  17                NaN                   NaN
14                 18  18  18               160K                   NaN
15                 19  19  19                NaN                27.78%
16                 20  20  20                NaN                65,207
17                 21  21  21               140K                   NaN
18                 22  22  22                NaN                   NaN
19                 23  23  23                NaN                   NaN
20                 24  24  24               120K                   NaN
21                 25  25  25                NaN                   NaN
22                 26  26  26                NaN                   NaN
23                 27  27  27               100K                   NaN
24                 28  28  28                80K                   NaN
25                 29  29  29                NaN                   NaN
26                 30  30  30                NaN                   NaN
27                 31  31  31         132,20360K                48.86%
28                 32  32  32                NaN               114,671
29                 33  33  33                40K                   NaN
30                 34  34  34                20K                   NaN
31                 35  35  35                 0K                   NaN
32                 36  36  36                NaN                AUGUST

                                                                               \
                     Unnamed: 5_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
                     Unnamed: 5_level_2 Unnamed: 6_level_2 Unnamed: 7_level_2
                     Unnamed: 5_level_3 Unnamed: 6_level_3 Unnamed: 7_level_3
                                250,711 Unnamed: 6_level_4 Unnamed: 7_level_4
0                                   NaN            246,198                NaN
1                                   NaN                NaN                NaN
2                               234,923                NaN                NaN
3                                   NaN                NaN                NaN
4                                19.47%                NaN            226,515
5                                48,819             26.02%                NaN
6                        205,008 22.82%             64,055                NaN
7                                53,612                NaN             23.00%
8                                   NaN                NaN      196,22552,103
9                                   NaN                NaN                NaN
10                               20.56%                NaN                NaN
11                               42,152                NaN                NaN
12                                  NaN                NaN                NaN
13                               26.98%                NaN                NaN
14                               67,639                NaN                NaN
15                                  NaN             23.21%             23.95%
16                               28.77%             57,136                NaN
17                               67,595                NaN             54,256
18                         51,88430.10%                NaN                NaN
19                               61,705                NaN                NaN
20                                  NaN                NaN                NaN
21                                  NaN                NaN                NaN
22                                  NaN                NaN                NaN
23                                  NaN                NaN                NaN
24                                  NaN                NaN                NaN
25                                  NaN                NaN                NaN
26                               50.69%                NaN                NaN
27                 45.88% 48.22%127,081                NaN             51.73%
28          47.90% 104,84698,208107,773            118,710            117,181
29                                  NaN                NaN                NaN
30                                  NaN                NaN                NaN
31                                  NaN                NaN                NaN
32  SEPTEMBER OCTOBER NOVEMBER DECEMBER                NaN            JANUARY

                                                              \
   Unnamed: 8_level_1 Unnamed: 9_level_1 Unnamed: 10_level_1
   Unnamed: 8_level_2            264,334             264,099
   Unnamed: 8_level_3 Unnamed: 9_level_3             255,104
   Unnamed: 8_level_4 Unnamed: 9_level_4 Unnamed: 10_level_4
0                 NaN                NaN                 NaN
1                 NaN                NaN                 NaN
2                 NaN                NaN                 NaN
3             230,420             23.11%              25.14%
4                 NaN             61,093              66,405
5                 NaN                NaN        28.87%73,638
6                 NaN                NaN                 NaN
7              23.50%                NaN                 NaN
8              54,141                NaN                 NaN
9                 NaN                NaN                 NaN
10                NaN                NaN                 NaN
11                NaN                NaN                 NaN
12                NaN             26.11%              21.04%
13                NaN             69,017              55,571
14                NaN                NaN              20.90%
15             23.76%                NaN              53,312
16             54,755                NaN                 NaN
17                NaN                NaN                 NaN
18                NaN                NaN                 NaN
19                NaN                NaN                 NaN
20                NaN                NaN                 NaN
21                NaN                NaN                 NaN
22                NaN                NaN                 NaN
23                NaN                NaN                 NaN
24                NaN                NaN                 NaN
25                NaN                NaN              53.29%
26                NaN             50.01%      140,730 49.52%
27             51.90%                NaN             126,320
28            119,582                NaN                 NaN
29                NaN                NaN                 NaN
30                NaN                NaN                 NaN
31                NaN                NaN                 NaN
32           FEBRUARY              MARCH           APRIL MAY


   Unnamed: 11_level_1 Unnamed: 12_level_1 Unnamed: 13_level_1
   Unnamed: 11_level_2 Unnamed: 12_level_2 Unnamed: 13_level_2
   Unnamed: 11_level_3 Unnamed: 12_level_3 Unnamed: 13_level_3
   Unnamed: 11_level_4 Unnamed: 12_level_4 Unnamed: 13_level_4
0                  NaN                 NaN                 NaN
1                  NaN                 NaN         DESCRIPTION
2                  NaN                 NaN                 NaN
3                  NaN                 NaN       EMPTY, EXPORT
4                  NaN             223,411       EMPTY, IMPORT
5              216,097                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN      LOADED, IMPORT
8                  NaN              24.90%                 NaN
9                  NaN              55,630                 NaN
10              27.77%                 NaN                 NaN
11                 NaN                 NaN                 NaN
12              30.47%                 NaN                 NaN
13                 NaN                 NaN                 NaN
14              59,788                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN              23.22%                 NaN
17                 NaN                 NaN                 NaN
18              22.82%                 NaN                 NaN
19              49,309                 NaN                 NaN
20                 NaN                 NaN                 NaN
21              22.78%                 NaN                 NaN
22              44,694                 NaN                 NaN
23                 NaN                 NaN                 NaN
24                 NaN                 NaN                 NaN
25                 NaN                 NaN                 NaN
26                 NaN                 NaN                 NaN
27                 NaN              50.97%                 NaN
28        48.52%45.91%             113,864                 NaN
29              90,090                 NaN                 NaN
30                 NaN                 NaN                 NaN
31                 NaN                 NaN                 NaN
32           JUNE JULY              AUGUST                 NaN
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-detailed-history.pdf_1.csv
    Unnamed: 0_level_0                                             \
                     0    0                  2022.0  EXPORT EMPTY
                     1    1      Unnamed: 3_level_2        LOADED
                     2    2      Unnamed: 3_level_3         TOTAL
                     3    3  3.1 Unnamed: 3_level_4  IMPORT EMPTY
0                    4    4    4                NaN        LOADED
1                    5    5    5                NaN         TOTAL
2                    6    6    6                NaN      SUBTOTAL
3                    7    7    7             2021.0  EXPORT EMPTY
4                    8    8    8                NaN        LOADED
..                 ...  ...  ...                ...           ...
138                142  142  142                NaN         TOTAL
139                143  143  143                NaN  IMPORT EMPTY
140                144  144  144                NaN        LOADED
141                145  145  145                NaN         TOTAL
142                146  146  146                NaN      SUBTOTAL

                        JANUARY FEBRUARY    MARCH    APRIL      MAY     JUNE  \
    Unnamed: 5_level_1   52,103   54,141   61,093   66,405   73,638   59,788
    Unnamed: 5_level_2   54,256   54,755   69,017   55,571   53,312   44,694
    Unnamed: 5_level_3  106,358  108,896  130,110  121,976  126,949  104,482
    Unnamed: 5_level_4    2,976    1,942    2,021    1,392    1,835    1,653
0                  NaN  117,181  119,582  132,203  140,730  126,320   90,090
1                  NaN  120,157  121,524  134,224  142,122  128,155   91,743
2                  NaN  226,515  230,420  264,334  264,099  255,104  196,225
3                  NaN   48,224   29,293   46,872   42,252   44,445   48,037
4                  NaN   67,937   67,411   79,077   73,333   73,281   68,990
..                 ...      ...      ...      ...      ...      ...      ...
138                NaN   53,715   65,250   77,697   66,084   71,485   78,112
139                NaN    3,701    6,172    7,540    5,942    6,646    3,654
140                NaN   44,309   48,187   55,409   53,407   59,426   59,002
141                NaN   48,009   54,360   62,949   59,349   66,072   62,656
142                NaN  101,724  119,610  140,645  125,433  137,556  140,768

        JULY AUGUST SEPTEMBER             OCTOBER            NOVEMBER  \
      60,020           55,630 Unnamed: 14_level_1 Unnamed: 15_level_1
      49,309           51,884 Unnamed: 14_level_2 Unnamed: 15_level_2
     109,329          107,514 Unnamed: 14_level_3 Unnamed: 15_level_3
       1,923            2,034 Unnamed: 14_level_4 Unnamed: 15_level_4
0    104,846          113,864                 NaN                 NaN
1    106,768          115,898                 NaN                 NaN
2    216,097          223,411                 NaN                 NaN
3     54,188    51,084 42,152              53,612              48,819
4     65,655    65,207 61,705              67,595              67,639
..       ...              ...                 ...                 ...
138   66,136    82,574 70,697              73,983              72,761
139    1,870      3,488 3,396               3,721               5,809
140   60,968    63,076 56,972              59,045              59,311
141   62,837    66,564 60,368              62,766              65,120
142  128,973  149,138 131,065             136,749             137,881

               DECEMBER      TOTAL
    Unnamed: 16_level_1    482,817
    Unnamed: 16_level_2    432,798
    Unnamed: 16_level_3    915,614
    Unnamed: 16_level_4     15,776
0                   NaN    944,815
1                   NaN    960,591
2                   NaN  1,876,205
3                64,055    573,031
4                57,136    814,964
..                  ...        ...
138              77,691    856,184
139               4,385     56,322
140              61,217    680,329
141              65,602    736,651
142             143,294  1,592,834

[143 rows x 18 columns]
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl029-key-volumes-actual.pdf_1.csv
   Unnamed: 0_level_0              CURRENT MONTH                     \
                    0   0          FY2023 FY2022            PERCENT
                    1   1          ACTUAL ACTUAL           VARIANCE
                    2   2     Unnamed: 3_level_3 Unnamed: 4_level_3
                    3   3 3.1      28,622 19,506             46.73%
0                   4   4   4     80,520 103,204            -21.98%
1                   5   5   5       13,869 8,019             72.95%
2                   6   6   6    123,011 130,729             -5.90%
3                   7   7   7                NaN                NaN
4                   8   8   8    113,864 114,671             -0.70%
5                   9   9   9      51,884 65,207            -20.43%
6                  10  10  10        2,034 3,727            -45.43%
7                  11  11  11      55,630 51,084              8.90%
8                  12  12  12    223,411 234,688             -4.81%
9                  13  13  13                NaN                NaN
10                 14  14  14      11,095 11,902             -6.78%
11                 15  15  15        1,882 2,635            -28.58%
12                 16  16  16      12,977 14,537            -10.73%
13                 17  17  17                NaN                NaN
14                 18  18  18                NaN                NaN
15                 19  19  19              8 174            -95.26%
16                 20  20  20      92,573 82,784             11.82%
17                 21  21  21                0 0              0.00%
18                 22  22  22               31 4            601.81%
19                 23  23  23               33 0            100.00%
20                 24  24  24                0 0              0.00%
21                 25  25  25      92,645 82,963             11.67%
22                 26  26  26                0 0              0.00%
23                 27  27  27      92,645 82,963             11.67%
24                 28  28  28                NaN                NaN
25                 29  29  29      15,359 25,701            -40.24%
26                 30  30  30          1,051 343            206.41%
27                 31  31  31      16,410 26,044            -36.99%
28                 32  32  32                NaN                NaN
29                 33  33  33           23,239 0            100.00%
30                 34  34  34              102 0            100.00%
31                 35  35  35           23,341 0            100.00%

                                                            YEAR TO DATE  \
                Unnamed: 5_level_1             FY2023      FY2022 ACTUAL
                Unnamed: 5_level_2             ACTUAL    ACTUAL VARIANCE
                   PIER CONTAINERS Unnamed: 6_level_3 Unnamed: 7_level_3
         North Charleston Terminal             61,021      37,851 23,170
0             Wando Welch Terminal            153,629   212,651 (59,022)
1         Hugh Leatherman Terminal             28,233      17,385 10,848
2            Total Pier Containers            242,883   267,887 (25,004)
3                             TEUs                NaN                NaN
4                    Loaded Import            218,709   234,115 (15,406)
5                    Loaded Export            101,194   130,862 (29,668)
6                     Empty Import              3,957      9,261 (5,305)
7                     Empty Export            115,649     105,271 10,378
8                       Total TEUs            439,508   479,509 (40,001)
9           INLAND PORT RAIL MOVES                NaN                NaN
10                           Greer             20,483     23,491 (3,008)
11                          Dillon              3,877      5,022 (1,145)
12                Total Rail Moves             24,360     28,513 (4,153)
13                       PIER TONS                NaN                NaN
14      Breakbulk Business Segment                NaN                NaN
15       North Charleston Terminal                  8      2,187 (2,179)
16        Columbus Street Terminal            161,729     148,941 12,789
17             Union Pier Terminal                  0                0 0
18            Wando Welch Terminal                660            108 552
19        Hugh Leatherman Terminal              3,149            0 3,149
20               Veterans Terminal                  0                0 0
21                        Subtotal            165,547     151,236 14,311
22             Georgetown Terminal                  0                0 0
23                 Total Pier Tons            165,547     151,236 14,311
24                        VEHICLES                NaN                NaN
25   Pier Vehicles Received Export             35,324     40,902 (5,578)
26  Pier Vehicles Delivered Import              2,120          592 1,528
27             Total Pier Vehicles             37,444     41,494 (4,050)
28               CRUISE PASSENGERS                NaN                NaN
29             Passengers Embarked             44,320           0 44,320
30        Passengers  Port-of-Call                155              0 155
31                Total Passengers             44,475           0 44,475


   Unnamed: 8_level_1            PERCENT
   Unnamed: 8_level_2           VARIANCE
   Unnamed: 8_level_3 Unnamed: 9_level_3
                    F           61.21% F

   Unnamed: 0_level_0                   Origin    Destination Transit  \
                    0   0            Abu Dhabi  Charleston SC      32
                    1   1     Alexandria Egypt  Charleston SC      22
                    2   2            Algeciras  Charleston SC      12
                    3   3 3.1        Algeciras  Charleston SC      14
0                   4   4   4        Algeciras  Charleston SC      20
1                   5   5   5           Aliaga  Charleston SC      23
2                   6   6   6     Altamira MEX  Charleston SC      13
3                   7   7   7          Antwerp  Charleston SC      13
4                   8   8   8          Antwerp  Charleston SC      16
..                ...  ..  ..              ...            ...     ...
67                 71  71  71           Nansha  Charleston SC      41
68                 72  72  72           Napier  Charleston SC      34
69                 73  73  73        Naples IT  Charleston SC      30
70                 74  74  74           Ningbo  Charleston SC      30
71                 75  75  75           Ningbo  Charleston SC      32

                                              Service  \
                                  MSC ‐ Indus Express
                              COSCO/ONE ‐‐ OOCL ‐ EMA
                   Maersk Line ‐‐ APL/SeaLand ‐ MECL1
                              COSCO/ONE ‐‐ OOCL ‐ EMA
0            2M Alliance ‐‐ Hamburg Sud ‐ MEDUSEC/TA5
1                             COSCO/ONE ‐‐ OOCL ‐ EMA
2    2M Alliance ‐‐ Hamburg Sud/SeaLand ‐ TA3/NEUATL3
3             OCEAN Alliance ‐ Victory Bridge‐VICTORY
4                           2M Alliance ‐ TA1/NEUATL1
..                                                ...
67            Sea Lead/TS Lines ‐ Asia East Coast‐AEC
68  Maersk Line ‐‐ Alianca/Hamburg Sud/Hapag‐Lloyd...
69           2M Alliance ‐‐ Hamburg Sud ‐ MEDUSEC/TA5
70                              MSC ‐ Santana Service
71  ZIM ‐‐ Alianca/Hamburg Sud/Maersk Line/MSC/Sea...

               Origin Trade Region
                           Mideast
                     Mediterranean
                     Mediterranean
                     Mediterranean
0                    Mediterranean
1                    Mediterranean
2                           Mexico
3                     North Europe
4                     North Europe
..                             ...
67  Asia: Taiwan, China, Hong Kong
68                         Oceania
69                   Mediterranean
70  Asia: Taiwan, China, Hong Kong
71  Asia: Taiwan, China, Hong Kong

[72 rows x 8 columns]

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10816/1064081175.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3,4])

In [2]:
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
    print(file)
    for col in df_temp.columns:
        print(col)
    #print(df_temp)
    
#     input_string = input('Enter elements of a list separated by space ')
#     print("\n")
#     user_list = input_string.split()
#     # print list
#     print('list: ', user_list)

#     # convert each item to int type
#     for i in range(len(user_list)):

#         # convert each item to int type
#         user_list[i] = int(user_list[i])
    
#     df_temp = pd.read_csv(file,error_bad_lines=False, skip_blank_lines=True, header = [0,1,2,3] )
    #print(os.path.basename(os.path.normpath(file)))
    file_name = os.path.basename(os.path.normpath(file))
    
      #df_temp.columns = df_temp.columns.str.replace('Unnamed:', '')
#     df_temp.columns = df_temp.columns.str.replace('Unnamed :', '')
#     df_temp.columns = df_temp.columns.str.replace('0', '')
#     df_temp.columns = df_temp.columns.str.replace('1', '')
#     df_temp.columns = df_temp.columns.str.replace('2', '')
#     df_temp.columns = df_temp.columns.str.replace('3', '')
#     df_temp.columns = df_temp.columns.str.replace('4', '')
#     df_temp.columns = df_temp.columns.str.replace('5', '')
#     df_temp.columns = df_temp.columns.str.replace('6', '')
#     df_temp.columns = df_temp.columns.str.replace('7', '')
#     df_temp.columns = df_temp.columns.str.replace('8', '')
#     df_temp.columns = df_temp.columns.str.replace('9', '')
#     df_temp.columns = df_temp.columns.str.replace(',,', '')
#     df_temp.columns = df_temp.columns.str.replace('.', '')
#     df_temp.columns = df_temp.columns.str.replace(',', '') 
    #print(df_temp.iloc[0])
    #df_temp.columns = df_temp.iloc[0]+df_temp.iloc[1]+df_temp.iloc[2]   # set the columns to the values in the first row
    #df_temp = df_temp.iloc[1:]          # reassign df to all rows but the first
    print(df_temp)
    #df_temp.to_csv(file_name)

/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-13-mo-history.pdf_1.csv
Unnamed: 0

 .1
 .2
 .3
 .4
 .5
 .6
 .7
 .8
 .9
 .10
 .11
 .12
    Unnamed: 0       .1          .2                    .3  \
0            0   0    0        280K                   NaN
1            1   1    1         NaN                   NaN
2            2   2    2        260K                   NaN
3            3   3    3         NaN                   NaN
4            4   4    4         NaN                   NaN
5            5   5    5         NaN                   NaN
6            6   6    6        240K               234,688
7            7   7    7         NaN                   NaN
8            8   8    8         NaN                   NaN
9            9   9    9        220K  LOADED, EXPORT21.77%
10          10  10   10         NaN                   NaN
11          11  11   11         NaN                51,084
12          12  12   12        200K                   NaN
13          13  13   13         NaN                   NaN
14          14  14   14         NaN                   NaN
15          15  15   15  60,020180K                   NaN
16          16  16   16         NaN                   NaN
17          17  17   17         NaN                   NaN
18          18  18   18        160K                   NaN
19          19  19   19         NaN                27.78%
20          20  20   20         NaN                65,207
21          21  21   21        140K                   NaN
22          22  22   22         NaN                   NaN
23          23  23   23         NaN                   NaN
24          24  24   24        120K                   NaN
25          25  25   25         NaN                   NaN
26          26  26   26         NaN                   NaN
27          27  27   27        100K                   NaN
28          28  28   28         80K                   NaN
29          29  29   29         NaN                   NaN
30          30  30   30         NaN                   NaN
31          31  31   31  132,20360K                48.86%
32          32  32   32         NaN               114,671
33          33  33   33         40K                   NaN
34          34  34   34         20K                   NaN
35          35  35   35          0K                   NaN
36          36  36   36         NaN                AUGUST

                                     .4       .5             .6        .7  \
0                                   NaN      NaN            NaN       NaN
1                                   NaN      NaN            NaN       NaN
2                                   NaN      NaN            NaN       NaN
3                               250,711      NaN            NaN       NaN
4                                   NaN  246,198            NaN       NaN
5                                   NaN      NaN            NaN       NaN
6                               234,923      NaN            NaN       NaN
7                                   NaN      NaN            NaN   230,420
8                                19.47%      NaN        226,515       NaN
9                                48,819   26.02%            NaN       NaN
10                       205,008 22.82%   64,055            NaN       NaN
11                               53,612      NaN         23.00%    23.50%
12                                  NaN      NaN  196,22552,103    54,141
13                                  NaN      NaN            NaN       NaN
14                               20.56%      NaN            NaN       NaN
15                               42,152      NaN            NaN       NaN
16                                  NaN      NaN            NaN       NaN
17                               26.98%      NaN            NaN       NaN
18                               67,639      NaN            NaN       NaN
19                                  NaN   23.21%         23.95%    23.76%
20                               28.77%   57,136            NaN    54,755
21                               67,595      NaN         54,256       NaN
22                         51,88430.10%      NaN            NaN       NaN
23                               61,705      NaN            NaN       NaN
24                                  NaN      NaN            NaN       NaN
25                                  NaN      NaN            NaN       NaN
26                                  NaN      NaN            NaN       NaN
27                                  NaN      NaN            NaN       NaN
28                                  NaN      NaN            NaN       NaN
29                                  NaN      NaN            NaN       NaN
30                               50.69%      NaN            NaN       NaN
31                 45.88% 48.22%127,081      NaN         51.73%    51.90%
32          47.90% 104,84698,208107,773  118,710        117,181   119,582
33                                  NaN      NaN            NaN       NaN
34                                  NaN      NaN            NaN       NaN
35                                  NaN      NaN            NaN       NaN
36  SEPTEMBER OCTOBER NOVEMBER DECEMBER      NaN        JANUARY  FEBRUARY

         .8              .9           .10      .11             .12
0       NaN             NaN           NaN      NaN             NaN
1   264,334         264,099           NaN      NaN             NaN
2       NaN         255,104           NaN      NaN             NaN
3       NaN             NaN           NaN      NaN             NaN
4       NaN             NaN           NaN      NaN             NaN
5       NaN             NaN           NaN      NaN     DESCRIPTION
6       NaN             NaN           NaN      NaN             NaN
7    23.11%          25.14%           NaN      NaN   EMPTY, EXPORT
8    61,093          66,405           NaN  223,411   EMPTY, IMPORT
9       NaN    28.87%73,638       216,097      NaN             NaN
10      NaN             NaN           NaN      NaN             NaN
11      NaN             NaN           NaN      NaN  LOADED, IMPORT
12      NaN             NaN           NaN   24.90%             NaN
13      NaN             NaN           NaN   55,630             NaN
14      NaN             NaN        27.77%      NaN             NaN
15      NaN             NaN           NaN      NaN             NaN
16   26.11%          21.04%        30.47%      NaN             NaN
17   69,017          55,571           NaN      NaN             NaN
18      NaN          20.90%        59,788      NaN             NaN
19      NaN          53,312           NaN      NaN             NaN
20      NaN             NaN           NaN   23.22%             NaN
21      NaN             NaN           NaN      NaN             NaN
22      NaN             NaN        22.82%      NaN             NaN
23      NaN             NaN        49,309      NaN             NaN
24      NaN             NaN           NaN      NaN             NaN
25      NaN             NaN        22.78%      NaN             NaN
26      NaN             NaN        44,694      NaN             NaN
27      NaN             NaN           NaN      NaN             NaN
28      NaN             NaN           NaN      NaN             NaN
29      NaN          53.29%           NaN      NaN             NaN
30   50.01%  140,730 49.52%           NaN      NaN             NaN
31      NaN         126,320           NaN   50.97%             NaN
32      NaN             NaN  48.52%45.91%  113,864             NaN
33      NaN             NaN        90,090      NaN             NaN
34      NaN             NaN           NaN      NaN             NaN
35      NaN             NaN           NaN      NaN             NaN
36    MARCH       APRIL MAY     JUNE JULY   AUGUST             NaN
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/teu-detailed-history.pdf_1.csv
Unnamed: 0

 .1
 .2
 .3
 .4
JANUARY
FEBRUARY
MARCH
APRIL
MAY
JUNE
JULY
AUGUST SEPTEMBER
OCTOBER
NOVEMBER
DECEMBER
TOTAL
     Unnamed: 0        .1      .2            .3   .4  JANUARY FEBRUARY  \
0             0    0    0  2022.0  EXPORT EMPTY  NaN   52,103   54,141
1             1    1    1     NaN        LOADED  NaN   54,256   54,755
2             2    2    2     NaN         TOTAL  NaN  106,358  108,896
3             3    3    3     NaN  IMPORT EMPTY  NaN    2,976    1,942
4             4    4    4     NaN        LOADED  NaN  117,181  119,582
..          ...  ...  ...     ...           ...  ...      ...      ...
142         142  142  142     NaN         TOTAL  NaN   53,715   65,250
143         143  143  143     NaN  IMPORT EMPTY  NaN    3,701    6,172
144         144  144  144     NaN        LOADED  NaN   44,309   48,187
145         145  145  145     NaN         TOTAL  NaN   48,009   54,360
146         146  146  146     NaN      SUBTOTAL  NaN  101,724  119,610

       MARCH    APRIL      MAY     JUNE     JULY AUGUST SEPTEMBER  OCTOBER  \
0     61,093   66,405   73,638   59,788   60,020           55,630      NaN
1     69,017   55,571   53,312   44,694   49,309           51,884      NaN
2    130,110  121,976  126,949  104,482  109,329          107,514      NaN
3      2,021    1,392    1,835    1,653    1,923            2,034      NaN
4    132,203  140,730  126,320   90,090  104,846          113,864      NaN
..       ...      ...      ...      ...      ...              ...      ...
142   77,697   66,084   71,485   78,112   66,136    82,574 70,697   73,983
143    7,540    5,942    6,646    3,654    1,870      3,488 3,396    3,721
144   55,409   53,407   59,426   59,002   60,968    63,076 56,972   59,045
145   62,949   59,349   66,072   62,656   62,837    66,564 60,368   62,766
146  140,645  125,433  137,556  140,768  128,973  149,138 131,065  136,749

    NOVEMBER DECEMBER      TOTAL
0        NaN      NaN    482,817
1        NaN      NaN    432,798
2        NaN      NaN    915,614
3        NaN      NaN     15,776
4        NaN      NaN    944,815
..       ...      ...        ...
142   72,761   77,691    856,184
143    5,809    4,385     56,322
144   59,311   61,217    680,329
145   65,120   65,602    736,651
146  137,881  143,294  1,592,834

[147 rows x 18 columns]
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/gl029-key-volumes-actual.pdf_1.csv
Unnamed: 0

 .1
CURRENT MONTH
 .2
 .3
 .4
YEAR TO DATE
 .5
 .6
    Unnamed: 0       .1    CURRENT MONTH        .2  \
0            0   0    0    FY2023 FY2022   PERCENT
1            1   1    1    ACTUAL ACTUAL  VARIANCE
2            2   2    2              NaN       NaN
3            3   3    3    28,622 19,506    46.73%
4            4   4    4   80,520 103,204   -21.98%
5            5   5    5     13,869 8,019    72.95%
6            6   6    6  123,011 130,729    -5.90%
7            7   7    7              NaN       NaN
8            8   8    8  113,864 114,671    -0.70%
9            9   9    9    51,884 65,207   -20.43%
10          10  10   10      2,034 3,727   -45.43%
11          11  11   11    55,630 51,084     8.90%
12          12  12   12  223,411 234,688    -4.81%
13          13  13   13              NaN       NaN
14          14  14   14    11,095 11,902    -6.78%
15          15  15   15      1,882 2,635   -28.58%
16          16  16   16    12,977 14,537   -10.73%
17          17  17   17              NaN       NaN
18          18  18   18              NaN       NaN
19          19  19   19            8 174   -95.26%
20          20  20   20    92,573 82,784    11.82%
21          21  21   21              0 0     0.00%
22          22  22   22             31 4   601.81%
23          23  23   23             33 0   100.00%
24          24  24   24              0 0     0.00%
25          25  25   25    92,645 82,963    11.67%
26          26  26   26              0 0     0.00%
27          27  27   27    92,645 82,963    11.67%
28          28  28   28              NaN       NaN
29          29  29   29    15,359 25,701   -40.24%
30          30  30   30        1,051 343   206.41%
31          31  31   31    16,410 26,044   -36.99%
32          32  32   32              NaN       NaN
33          33  33   33         23,239 0   100.00%
34          34  34   34            102 0   100.00%
35          35  35   35         23,341 0   100.00%

                                .3       .4      YEAR TO DATE   .5         .6
0                              NaN   FY2023     FY2022 ACTUAL  NaN    PERCENT
1                              NaN   ACTUAL   ACTUAL VARIANCE  NaN   VARIANCE
2                  PIER CONTAINERS      NaN               NaN  NaN        NaN
3        North Charleston Terminal   61,021     37,851 23,170    F   61.21% F
4             Wando Welch Terminal  153,629  212,651 (59,022)    U  -27.76% U
5         Hugh Leatherman Terminal   28,233     17,385 10,848    F   62.40% F
6            Total Pier Containers  242,883  267,887 (25,004)    U   -9.33% U
7                             TEUs      NaN               NaN  NaN        NaN
8                    Loaded Import  218,709  234,115 (15,406)    U   -6.58% U
9                    Loaded Export  101,194  130,862 (29,668)    U  -22.67% U
10                    Empty Import    3,957     9,261 (5,305)    U  -57.28% U
11                    Empty Export  115,649    105,271 10,378    F    9.86% F
12                      Total TEUs  439,508  479,509 (40,001)    U   -8.34% U
13          INLAND PORT RAIL MOVES      NaN               NaN  NaN        NaN
14                           Greer   20,483    23,491 (3,008)    U  -12.80% U
15                          Dillon    3,877     5,022 (1,145)    U  -22.80% U
16                Total Rail Moves   24,360    28,513 (4,153)    U  -14.57% U
17                       PIER TONS      NaN               NaN  NaN        NaN
18      Breakbulk Business Segment      NaN               NaN  NaN        NaN
19       North Charleston Terminal        8     2,187 (2,179)    U  -99.62% U
20        Columbus Street Terminal  161,729    148,941 12,789    F    8.59% F
21             Union Pier Terminal        0               0 0    F    0.00% F
22            Wando Welch Terminal      660           108 552    F  511.94% F
23        Hugh Leatherman Terminal    3,149           0 3,149    F  100.00% F
24               Veterans Terminal        0               0 0    F    0.00% F
25                        Subtotal  165,547    151,236 14,311    F    9.46% F
26             Georgetown Terminal        0               0 0    F    0.00% F
27                 Total Pier Tons  165,547    151,236 14,311    F    9.46% F
28                        VEHICLES      NaN               NaN  NaN        NaN
29   Pier Vehicles Received Export   35,324    40,902 (5,578)  NaN  -13.64% U
30  Pier Vehicles Delivered Import    2,120         592 1,528  NaN  258.11% F
31             Total Pier Vehicles   37,444    41,494 (4,050)    U   -9.76% U
32               CRUISE PASSENGERS      NaN               NaN  NaN        NaN
33             Passengers Embarked   44,320          0 44,320    F  100.00% F
34        Passengers  Port-of-Call      155             0 155    F  100.00% F
35                Total Passengers   44,475          0 44,475    F  100.00% F
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/charlestonintermodalrailschedule.pdf_3.csv
Unnamed: 0

 .1
ORIGIN
Cut/Avail
M
Tu
W
Th
F
Sa
Su
Fastest
    Unnamed: 0       .1                ORIGIN  Cut/Avail        M       Tu  \
0            0   0    0           AUSTELL, GA     CUTOFF   M 0001  Tu 0001
1            1   1    1        CHARLESTON, SC  AVAILABLE   W 0800  Th 0800
2            2   2    2         CHARLOTTE, NC     CUTOFF   M 1100  Tu 1100
3            3   3    3        CHARLESTON, SC  AVAILABLE  Th 0800   F 0800
4            4   4    4   CHICAGO LANDERS, IL     CUTOFF   M 1500  Tu 1500
5            5   5    5        CHARLESTON, SC  AVAILABLE  Sa 0800  Su 0800
6            6   6    6        CINCINNATI, OH     CUTOFF   M 1700  Tu 1700
7            7   7    7        CHARLESTON, SC  AVAILABLE   M 0800  Tu 0800
8            8   8    8             GREER, SC     CUTOFF   M 1500  Tu 1500
9            9   9    9        CHARLESTON, SC  AVAILABLE  Tu 1600   W 1600
10          10  10   10        HUNTSVILLE, AL     CUTOFF   M 1600  Tu 1600
11          11  11   11        CHARLESTON, SC  AVAILABLE   F 0800  Sa 0800
12          12  12   12        LOUISVILLE, KY     CUTOFF   M 1730  Tu 1730
13          13  13   13        CHARLESTON, SC  AVAILABLE  Sa 0800  Su 0800
14          14  14   14           MEMPHIS, TN     CUTOFF      NaN  Tu 1800
15          15  15   15        CHARLESTON, SC  AVAILABLE      NaN  Sa 0800
16          16  16   16       NEW ORLEANS, LA     CUTOFF   M 1500      NaN
17          17  17   17        CHARLESTON, SC  AVAILABLE  Su 0800      NaN
18          18  18   18  WYLIE INTERMODAL, TX     CUTOFF   M 1700  Tu 1700
19          19  19   19        CHARLESTON, SC  AVAILABLE  Sa 0800   M 0800

          W       Th        F       Sa       Su Fastest
0    W 0001  Th 0001   F 0001  Sa 0001  Su 0001   2 Day
1    F 0800  Sa 0800  Su 0800   M 0800   T 0800     NaN
2    W 1100  Th 1100   F 1100      NaN      NaN  3 Days
3   Sa 0800  Su 0800   M 0800      NaN      NaN     NaN
4    W 1500  Th 1500   F 1500  Sa 1500  Su 1500  5 Days
5    M 0800  Tu 0800   W 0800  Th 0800   F 0800     NaN
6    W 1700  Th 1700   F 1700      NaN      NaN  7 Days
7    W 0800  Th 0800   F 0800      NaN      NaN     NaN
8    W 1500  Th 1500   F 1500  Sa 1500      NaN   1 Day
9   Th 1600   F 1600  Sa 1600  Su 1600      NaN     NaN
10   W 1600  Th 1600   F 1600      NaN      NaN  4 Days
11   M 0800   M 0800  Tu 0800      NaN      NaN     NaN
12   W 1730  Th 1730   F 1730      NaN      NaN  5 Days
13   M 0800  Tu 0800   W 0800      NaN      NaN     NaN
14   W 1800  Th 1800   F 1800  Sa 1800      NaN  4 Days
15   M 0800  Tu 0800   W 0800  Th 0800      NaN     NaN
16      NaN      NaN   F 1500      NaN      NaN  6 Days
17      NaN      NaN   F 0800      NaN      NaN     NaN
18   W 1700  Th 1700   F 1700      NaN      NaN  5 Days
19   M 0800  Tu 0800   W 0800      NaN      NaN     NaN
/Users/latherialcalbert/Documents/portResearch/scscpa_csv/charlestonintermodalrailschedule.pdf_2.csv
Unnamed: 0

 .1
DESTINATION
Cut/Avail
M
Tu
W
Th
F
Sa
Su
Fastest
    Unnamed: 0       .1         DESTINATION  Cut/Avail        M       Tu  \
0            0   0    0      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
1            1   1    1  ATLANTA HULSEY, GA  AVAILABLE   W 1430  Th 1430
2            2   2    2      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
3            3   3    3          CAICTF, AL  AVAILABLE   F 1400   M 1400
4            4   4    4      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
5            5   5    5       CHARLOTTE, NC  AVAILABLE   W 0900  Th 0900
6            6   6    6      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
7            7   7    7      CINCINNATI, OH  AVAILABLE   M 0600   M 0600
8            8   8    8      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
9            9   9    9          DILLON, SC  AVAILABLE  Tu 1300   W 1300
10          10  10   10      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
11          11  11   11    JACKSONVILLE, FL  AVAILABLE   W 0800  Th 0800
12          12  12   12      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
13          13  13   13      LOUISVILLE, KY  AVAILABLE  Sa 0800   M 0800
14          14  14   14      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
15          15  15   15         MEMPHIS, TN  AVAILABLE   F 1700   M 0500
16          16  16   16      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
17          17  17   17       NASHVILLE, TN  AVAILABLE  Sa 0700   M 0700
18          18  18   18      CHARLESTON, SC     CUTOFF   M 1500  Tu 1500
19          19  19   19           TAMPA, FL  AVAILABLE   F 0700  Sa 1100

          W       Th        F       Sa       Su Fastest
0    W 1500  Th 1500   F 1500  Sa 1500      NaN  2 Days
1    F 1430  Sa 1430  Su 1430   M 1430      NaN     NaN
2    W 1500  Th 1500   F 1500  Sa 1400      NaN  4 Days
3    M 1400   M 1400  Tu 1400   W 1400      NaN     NaN
4    W 1500  Th 1500   F 1500  Sa 1500  Su 1500  2 Days

/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)
/var/folders/rw/__mb4wmn317bq6zqm1ftt10r0000gn/T/ipykernel_10494/658539003.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_temp = pd.read_csv(file,error_bad_lines=False) #, skip_blank_lines=True)

In [ ]:
for file in csv_files:
    df_temp = pd.read_csv(file,error_bad_lines=False)
    #print(os.path.basename(os.path.normpath(file)))
    file_name = os.path.basename(os.path.normpath(file))
    
    df_temp.columns = df_temp.columns.str.replace('Unnamed:', '')
    df_temp.columns = df_temp.columns.str.replace('Unnamed :', '')
    df_temp.columns = df_temp.columns.str.replace('0', '')
    df_temp.columns = df_temp.columns.str.replace('1', '')
    df_temp.columns = df_temp.columns.str.replace('2', '')
    df_temp.columns = df_temp.columns.str.replace('3', '')
    df_temp.columns = df_temp.columns.str.replace('4', '')
    df_temp.columns = df_temp.columns.str.replace('5', '')
    df_temp.columns = df_temp.columns.str.replace('6', '')
    df_temp.columns = df_temp.columns.str.replace('7', '')
    df_temp.columns = df_temp.columns.str.replace('8', '')
    df_temp.columns = df_temp.columns.str.replace('9', '')
    df_temp.columns = df_temp.columns.str.replace(',,', '')
    df_temp.columns = df_temp.columns.str.replace('.', '')
    df_temp.columns = df_temp.columns.str.replace(',', '')
    
   
    #checks if df has any missing column names
    df_temp.columns = (df_temp.iloc[0]+  df_temp.iloc[1]  + df_temp.iloc[2])   
    print(df_temp.columns)
    # reassign df to all rows but the first
    df_temp = df_temp.iloc[3:]          
    #print(df_temp)
    #df_temp.to_csv(file_name)

In [ ]:
#     print(file)
     
#     print(df_temp.columns)
#     spike_cols = [col for col in df_temp.columns if 'Unnamed' in col]
#     print(spike_cols)
                                 

                                 

                                 
#     df.columns = [''] * len(df.columns)
#     print(file)
#     df_temp = df_temp.iloc[1: , :]
    
#     if(df.temp)
#     print(df_temp.iloc[1:, :]

In [ ]:
df_copy = df_append.dropna(how = 'all', axis = 1)
df_copy.shape

In [ ]:
df_copy

In [ ]:
df_copy.columns

In [ ]:
df_copy1 = df_copy

In [ ]:
perc = 38
min_count =  int(((100-perc)/100)*df_copy.shape[0] + 1)
mod_df = df_copy.dropna( axis=1, 
                thresh=min_count)

In [ ]:
mod_df.shape

In [ ]:
mod_df.columns

In [ ]:
mod_df

In [ ]:
for column in df_append:
    df_append = df_append[df_append[column].notna()]
df_append

In [ ]:
cols = [c for c in df_append.columns if c.lower()[:4] != 1 or c.lower()[:4] != '0'or c.lower()[:4] != '2'or c.lower()[:4] != '3'or c.lower()[:4] != '4' or c.lower()[:4] != '5'or c.lower()[:4] != '6'or c.lower()[:4] != '7'or c.lower()[:4] != '8'or c.lower()[:4] != '9']

df1=df_append[cols]
df1.shape

In [ ]:
df_append = df_copy
df_append

In [ ]:
df_append.dropna(how='all')

In [ ]:
df_append.
df_copy =  df_append = df_append.loc[:, df_append.isnull().sum() < 0.8*df_append.shape[0]]
df_copy

In [ ]:
df_append

In [ ]:
percent_missing = df_append.isnull().sum() * 100 / len(df_append)
missing_value_df = pd.DataFrame({'column_name': df_append.columns,
                                 'percent_missing': percent_missing})

In [ ]:
missing_value_df.sort_values('percent_missing', inplace=True)

In [ ]:
missing_value_df.mean()

In [ ]:
missing_value_df

In [ ]:
missing_value_df['percent_missing'].mode()

In [ ]:
df_append.notnull().sum().sum()

In [ ]:
df_append.columns

In [ ]:
df_append.iloc[[4]]

In [ ]:
with pd.option_context('display.max_rows', 600, 'display.max_columns', 600):  # more options can be specified also
    print(missing_value_df)

In [ ]:
df1.isnull().any